/* Global styles, mixins, variables */
/*
*	FONTS
*/
@font-face {
  font-family: "Karla Regular";
  src: url('fonts/Karla/Karla-Regular.ttf'); }

@font-face {
  font-family: "Karla Bold";
  src: url('fonts/Karla/Karla-Bold.ttf'); }

@font-face {
  font-family: "Karla Italic";
  src: url('fonts/Karla/Karla-Italic.ttf'); }

@font-face {
  font-family: "Karla BoldItalic";
  src: url('fonts/Karla/Karla-BoldItalic.ttf'); }

@font-face {
  font-family: "Neuzeit Reg";
  src: url('fonts/Neuzeit/NeuzeitGro-Reg.otf'); }

@font-face {
  font-family: "Neuzeit Bold";
  src: url('fonts/Neuzeit/NeuzeitGro-Bol.otf'); }

@font-face {
  font-family: "Caecilia Regular";
  src: url('fonts/Caecilia/Caecilia-Regular.ttf'); }

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/font/fontello.eot?62442968');
  src: url('fonts/fontello/font/fontello.eot?62442968#iefix') format('embedded-opentype'), url('fonts/fontello/font/fontello.woff?62442968') format('woff'), url('fonts/fontello/font/fontello.ttf?62442968') format('truetype'), url('fonts/fontello/font/fontello.svg?62442968#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/*$caeci-rom:"Caecillia Rom";*/
.nav-buffer {
  position: relative;
  width: 100%;
  height: 113px; }

.impact-content {
  width: 1220px;
  margin: auto; }

#section-one .section-heading {
  margin: 130px 0 0 0; }

.section-heading {
  font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #8A8C88;
  font-size: 1.25em;
  text-align: center; }

.section-sub-heading {
  font-family: "Caecilia Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 2em;
  color: #515254;
  width: 75%;
  margin: 30px auto 60px auto;
  text-align: center;
  line-height: 1.45em; }

.section-text {
  width: 80%;
  margin: 0 10% 80px 10%;
  font-family: "Karla Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  color: #515254;
  line-height: 1.4em;
  float: left;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 20px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 20px;
  /* Firefox */
  column-gap: 20px; }

#video {
  width: 100%;
  position: relative; }
  #video img {
    width: 100%;
    display: block; }

#video:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(81, 82, 84, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
  display: inline-block; }

#video-text-wrap {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-fill-mode: forwards;
  text-align: center;
  border-bottom: 4px solid rgba(212, 234, 0, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  #video-text-wrap p {
    font-family: "Karla Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.75em;
    color: #ffffff;
    margin: 55px 0 4px 0; }

#play-button {
  background-image: url('img/playbutton_hover.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 107px;
  height: 107px;
  margin: auto; }
  #play-button span {
    display: none; }

#play-preload {
  background-image: url('img/playbutton.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 107px;
  height: 107px;
  margin: -107px auto 0 auto;
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateZ(0); }

#awards-heading .section-heading, #press-heading .section-heading {
  margin: 110px 0 50px 0; }

#awards, #press {
  text-align: center; }
  #awards p, #press p {
    font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.75em;
    color: #515254;
    margin: 20px 0 0 0;
    line-height: 1em; }
  #awards a, #press a {
    text-decoration: none;
    clear: both; }
    #awards a p, #press a p {
      display: inline-block;
      clear: both;
      border-bottom: 4px solid #D4EA00;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  #awards a:hover p, #press a:hover p {
    border-bottom: 4px solid #515254; }

#press {
  margin: 0 0 165px 0; }

#impact-illus-one {
  background: url('img/Illos/illus-08.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 200px;
  overflow: hidden;
  width: 569px;
  height: 469px;
  position: absolute;
  right: 0;
  margin: 50px 0 0 0;
  z-index: -1; }

#impact-illus-two {
  background: url('img/Illos/illus-09.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: -50px;
  overflow: hidden;
  width: 318px;
  height: 233px;
  position: absolute;
  left: 0;
  margin: 75px 0 0 0;
  z-index: -1; }

@media only screen and (max-width: 1270px) {
  .impact-content {
    width: auto;
    margin: 0 40px; } }

@media only screen and (max-width: 1000px) {
  #section-one .section-heading {
    margin: 100px 0 0 0; }
  #impact-illus-one {
    width: 350px;
    background-position-x: 170px; }
  #impact-illus-two {
    width: 250px;
    margin: 5px 0 0 0; } }

@media only screen and (max-width: 600px) {
  .impact-content {
    width: 100%;
    margin: 0; }
  .section-heading {
    font-size: 1em; }
  .section-sub-heading {
    font-size: 1.25em;
    margin: 30px 20px 40px 20px;
    width: auto;
    line-height: 1.45em; }
  #section-one .section-heading {
    margin: 30px 0 0 0; }
  .section-text {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1;
    width: auto;
    margin: 0 20px 35px 20px; }
  #awards-heading .section-heading {
    margin: 50px 0 30px 0; }
  #press-heading .section-heading {
    margin: 50px 0 10px 0; }
  #awards p, #press p {
    font-size: 1em; }
  #awards {
    width: auto;
    margin: 0 20px; }
  #press {
    width: auto;
    margin: 0 20px 60px 20px; }
  #impact-illus-one {
    display: none; }
  #impact-illus-two {
    display: none; } }
