/* Global styles, mixins, variables */
/*
*	FONTS
*/
@font-face {
  font-family: "Karla Regular";
  src: url('fonts/Karla/Karla-Regular.ttf'); }

@font-face {
  font-family: "Karla Bold";
  src: url('fonts/Karla/Karla-Bold.ttf'); }

@font-face {
  font-family: "Karla Italic";
  src: url('fonts/Karla/Karla-Italic.ttf'); }

@font-face {
  font-family: "Karla BoldItalic";
  src: url('fonts/Karla/Karla-BoldItalic.ttf'); }

@font-face {
  font-family: "Neuzeit Reg";
  src: url('fonts/Neuzeit/NeuzeitGro-Reg.otf'); }

@font-face {
  font-family: "Neuzeit Bold";
  src: url('fonts/Neuzeit/NeuzeitGro-Bol.otf'); }

@font-face {
  font-family: "Caecilia Regular";
  src: url('fonts/Caecilia/Caecilia-Regular.ttf'); }

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/font/fontello.eot?62442968');
  src: url('fonts/fontello/font/fontello.eot?62442968#iefix') format('embedded-opentype'), url('fonts/fontello/font/fontello.woff?62442968') format('woff'), url('fonts/fontello/font/fontello.ttf?62442968') format('truetype'), url('fonts/fontello/font/fontello.svg?62442968#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/*$caeci-rom:"Caecillia Rom";*/
.nav-buffer {
  position: relative;
  width: 100%;
  height: 113px; }

.blog-content, .category-content, .archive-content {
  max-width: 1220px;
  margin: auto; }

#blog-filters {
  float: right;
  margin: 45px 0 0 0; }

#category-filters, #archive-filters {
  float: left; }
  #category-filters p, #archive-filters p {
    float: left;
    margin: 0;
    font-family: "Karla Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #515254;
    font-size: 0.75em;
    text-transform: uppercase;
    margin: 17px 15px 0 0; }
  #category-filters select, #archive-filters select {
    float: left;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    border: 2px solid #515254;
    background-color: #ffffff;
    padding: 15px 35px 15px 15px;
    font-family: "Karla Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #515254;
    font-size: 0.75em;
    text-transform: uppercase;
    position: relative;
    cursor: pointer; }
  #category-filters select:focus, #archive-filters select:focus {
    outline: 0; }
  #category-filters .select-wrap, #archive-filters .select-wrap {
    float: left;
    position: relative; }
  #category-filters .select-wrap:before, #archive-filters .select-wrap:before {
    content: '';
    width: 10px;
    border-top: 2px solid #515254;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation-fill-mode: forwards;
    display: inline-block;
    position: absolute;
    right: 21px;
    z-index: 2;
    margin: 22px 0 0 0; }
  #category-filters .select-wrap:after, #archive-filters .select-wrap:after {
    content: '';
    width: 10px;
    border-bottom: 2px solid #515254;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation-fill-mode: forwards;
    display: inline-block;
    position: absolute;
    right: 15px;
    z-index: 2;
    margin: 22px 0 0 0; }

#archive-filters {
  margin: 0 0 0 35px; }

#category-filters.active-category select {
  background-color: #FF5F3F;
  color: #ffffff;
  border: 2px solid #FF5F3F; }
#category-filters.active-category .select-wrap:before {
  border-top: 2px solid #ffffff; }
#category-filters.active-category .select-wrap:after {
  border-bottom: 2px solid #ffffff; }

.archive-header {
  display: none;
  color: #1AB19A;
  font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 2em; }
  .archive-header h1 {
    margin: 60px 0 0 0; }

#archive-filters.active-archives select {
  background-color: #FF5F3F;
  color: #ffffff;
  border: 2px solid #FF5F3F; }
#archive-filters.active-archives .select-wrap:before {
  border-top: 2px solid #ffffff; }
#archive-filters.active-archives .select-wrap:after {
  border-bottom: 2px solid #ffffff; }

.cat-141 {
  display: none !important; }

#content {
  float: left;
  text-align: center;
  clear: both;
  width: 100%; }

.post-title {
  text-decoration: none; }
  .post-title h4 {
    font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.75em;
    color: #515254;
    margin: 60px 0 0 0; }

.post-date {
  font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.5625em;
  color: #8A8C88;
  text-transform: uppercase;
  margin: 10px 0 0 0; }

.post-excerpt {
  font-family: "Karla Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  color: #515254;
  width: 80%;
  margin: 30px 10% 0 10%; }

.post img {
  max-width: 100%;
  margin: 50px auto 0 auto;
  display: block; }

.read-more-link {
  text-decoration: none;
  clear: both; }
  .read-more-link p {
    font-family: "Karla Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1em;
    color: #FF5F3F;
    border-bottom: 4px solid #FF5F3F;
    display: inline-block;
    margin: 30px 0 30px 0;
    line-height: 1.5em;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.read-more-link:hover p {
  border-bottom: 4px solid #515254; }

#pbd-alp-load-posts {
  font-family: "Karla Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 50px 0 110px 0; }
  #pbd-alp-load-posts a {
    color: #FF5F3F !important;
    border: 4px solid #FF5F3F;
    padding: 15px 25px !important;
    box-shadow: none !important;
    background-color: #ffffff !important;
    background: #ffffff !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    border-radius: 0px !important;
    display: inline-block !important;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #pbd-alp-load-posts a:hover {
    color: #ffffff !important;
    background-color: #FF5F3F !important; }

#blog-illus-one {
  background: url('img/Illos/illus-12.png');
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 137px;
  height: 109px;
  position: absolute;
  left: 15px;
  margin: 146px 0 0 0;
  z-index: -1; }

#blog-illus-two {
  background: url('img/Illos/illus-13.png');
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 345px;
  height: 323px;
  position: absolute;
  right: 0;
  margin: 146px 0 0 0;
  z-index: -1; }

@media only screen and (max-width: 1270px) {
  .blog-content, .category-content, .archive-content {
    width: auto;
    margin: 0 40px; } }

@media only screen and (max-width: 1000px) {
  #blog-filters {
    float: left;
    margin: 45px 0 0 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    -webkit-animation-fill-mode: forwards;
    position: relative; }
  #blog-illus-one {
    margin: 20px 0 0 0; }
  #blog-illus-two {
    width: 250px;
    margin: 0; } }

@media only screen and (max-width: 600px) {
  .blog-content, .category-content, .archive-content {
    width: auto;
    margin: 0 20px 60px 20px; }
  #blog-filters {
    float: none;
    width: 100%;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-animation-fill-mode: forwards;
    left: 0; }
  #archive-filters {
    clear: both;
    margin: 20px 0 0 0; }
  #category-filters, #archive-filters {
    width: 100%; }
    #category-filters p, #archive-filters p {
      margin: 0 0 5px 0; }
    #category-filters .select-wrap, #archive-filters .select-wrap {
      clear: both;
      width: 100%; }
      #category-filters .select-wrap select, #archive-filters .select-wrap select {
        width: 100%; }
  .post-title h4 {
    font-size: 1.25em; }
  .post img {
    margin: 40px auto 0 auto; }
  .read-more-link p {
    margin: 30px 0 10px 0; }
  #blog-illus-one {
    width: 100px;
    margin: 29px 0 0 0;
    background-position-x: -30px;
    left: 0; }
  #blog-illus-two {
    width: 150px;
    margin: 0;
    background-position-x: 40px; } }
