/* Global styles, mixins, variables */
/*
*	FONTS
*/
@font-face {
  font-family: "Karla Regular";
  src: url('fonts/Karla/Karla-Regular.ttf'); }

@font-face {
  font-family: "Karla Bold";
  src: url('fonts/Karla/Karla-Bold.ttf'); }

@font-face {
  font-family: "Karla Italic";
  src: url('fonts/Karla/Karla-Italic.ttf'); }

@font-face {
  font-family: "Karla BoldItalic";
  src: url('fonts/Karla/Karla-BoldItalic.ttf'); }

@font-face {
  font-family: "Neuzeit Reg";
  src: url('fonts/Neuzeit/NeuzeitGro-Reg.otf'); }

@font-face {
  font-family: "Neuzeit Bold";
  src: url('fonts/Neuzeit/NeuzeitGro-Bol.otf'); }

@font-face {
  font-family: "Caecilia Regular";
  src: url('fonts/Caecilia/Caecilia-Regular.ttf'); }

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/font/fontello.eot?62442968');
  src: url('fonts/fontello/font/fontello.eot?62442968#iefix') format('embedded-opentype'), url('fonts/fontello/font/fontello.woff?62442968') format('woff'), url('fonts/fontello/font/fontello.ttf?62442968') format('truetype'), url('fonts/fontello/font/fontello.svg?62442968#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/*$caeci-rom:"Caecillia Rom";*/
.nav-buffer {
  position: relative;
  width: 100%;
  height: 113px; }

#contact-wrap {
  display: none;
  background: #1AB19A;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999; }

#contact-inner {
  width: 1220px;
  margin: auto;
  position: relative;
  top: 100px; }

#contact-heading {
  font-family: "Neuzeit Reg";
  color: #ffffff;
  opacity: 0.6;
  font-size: 1.25em;
  text-align: center;
  margin: 0 0 65px 0; }

#contact-text {
  font-family: "Caecilia Regular";
  font-size: 2em;
  color: #ffffff;
  width: 55%;
  margin: 0 auto 0 auto;
  float: left; }

#contact-info {
  float: right;
  width: 35%;
  font-family: "Neuzeit Reg";
  font-size: 1.25em;
  color: #ffffff; }
  #contact-info p {
    margin: 6px 0 0 0;
    line-height: 1em; }
  #contact-info a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    border-bottom: 2px solid #D4EA00; }
  #contact-info #phone {
    margin: 30px 0 0 0; }

#close-button {
  margin: 190px 0 0 0;
  cursor: pointer;
  float: left;
  position: relative;
  left: 50%;
  bottom: 100px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation-fill-mode: forwards;
  clear: both;
  font-family: "Neuzeit Reg";
  font-size: 1.75em;
  color: #ffffff;
  padding: 20px 35px 15px 62px;
  border: 4px solid #ffffff;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  #close-button p {
    margin: 0; }
  #close-button p:before {
    content: '';
    width: 20px;
    border-top: 3px solid;
    position: absolute;
    display: inline-block;
    margin: 12px 15px 0 0;
    left: 32px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation-fill-mode: forwards; }
  #close-button p:after {
    content: '';
    width: 20px;
    border-bottom: 3px solid;
    position: absolute;
    display: inline-block;
    margin: 12px 15px 0 0;
    left: 32px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-animation-fill-mode: forwards; }

#close-button:hover {
  background: rgba(255, 255, 255, 0.5);
  color: #1AB19A;
  border: 4px solid rgba(255, 255, 255, 0); }
