/* Global styles, mixins, variables */
/*
*	FONTS
*/
@font-face {
  font-family: "Karla Regular";
  src: url('fonts/Karla/Karla-Regular.ttf'); }

@font-face {
  font-family: "Karla Bold";
  src: url('fonts/Karla/Karla-Bold.ttf'); }

@font-face {
  font-family: "Karla Italic";
  src: url('fonts/Karla/Karla-Italic.ttf'); }

@font-face {
  font-family: "Karla BoldItalic";
  src: url('fonts/Karla/Karla-BoldItalic.ttf'); }

@font-face {
  font-family: "Neuzeit Reg";
  src: url('fonts/Neuzeit/NeuzeitGro-Reg.otf'); }

@font-face {
  font-family: "Neuzeit Bold";
  src: url('fonts/Neuzeit/NeuzeitGro-Bol.otf'); }

@font-face {
  font-family: "Caecilia Regular";
  src: url('fonts/Caecilia/Caecilia-Regular.ttf'); }

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/font/fontello.eot?62442968');
  src: url('fonts/fontello/font/fontello.eot?62442968#iefix') format('embedded-opentype'), url('fonts/fontello/font/fontello.woff?62442968') format('woff'), url('fonts/fontello/font/fontello.ttf?62442968') format('truetype'), url('fonts/fontello/font/fontello.svg?62442968#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/*$caeci-rom:"Caecillia Rom";*/
.nav-buffer {
  position: relative;
  width: 100%;
  height: 113px; }

/*
footer{
	width:100%;
	background:$grey;
}
#footer-site-logo{
	float:left;
	background-image:url('img/logo.png');
	background-repeat:no-repeat;
	width:295px;
	height:73px;

	h1{
		display:none;
	}
}*/
footer {
  width: 100%;
  background: #515254; }

#footer-inner {
  padding: 60px 0 60px 0; }

#footer-site-logo {
  float: left;
  width: 295px;
  height: 73px;
  margin: 0 0 0 0;
  position: relative;
  -webkit-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  transition: margin 0.3s ease; }
  #footer-site-logo img {
    width: 100%; }
  #footer-site-logo h1 {
    display: none; }

#footer-right {
  float: right;
  color: #ffffff; }
  #footer-right .footer-section-title {
    font-family: "Karla Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.875em; }
  #footer-right .widget .title {
    display: none; }
  #footer-right a {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 2px solid #D4EA00;
    display: inline-block; }
  #footer-right li {
    list-style: none; }

#footer-social {
  float: left;
  zoom: 1;
  margin: 0 50px 0 0; }
  #footer-social:before, #footer-social:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  #footer-social:after {
    clear: both; }
  #footer-social a {
    float: left;
    clear: both; }
  #footer-social p {
    margin: 10px 0 0 0;
    font-family: "Karla Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.875em; }
  #footer-social .footer-section-title {
    margin: 0; }

#footer-contact {
  float: left; }
  #footer-contact .footer-section-title {
    margin: 0 0 10px 0; }
  #footer-contact .widget p {
    margin: 0 0 3px 0;
    font-family: "Karla Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.875em; }
  #footer-contact #phone {
    margin: 25px 0 3px 0; }

@media only screen and (max-width: 780px) {
  #footer-site-logo {
    float: none;
    margin: auto; }
  #footer-right {
    float: none;
    clear: both;
    margin: auto;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation-fill-mode: forwards;
    position: relative;
    text-align: center; }
  #footer-social {
    margin: 40px 0 0 0;
    float: none; }
    #footer-social a {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-animation-fill-mode: forwards; }
  #footer-contact {
    clear: both;
    margin: 40px 0 0 0; } }

@media only screen and (max-width: 600px) {
  #footer-site-logo {
    width: 186px;
    height: 46px; } }
