/* Global styles, mixins, variables */
/*
*	FONTS
*/
@font-face {
  font-family: "Karla Regular";
  src: url('fonts/Karla/Karla-Regular.ttf'); }

@font-face {
  font-family: "Karla Bold";
  src: url('fonts/Karla/Karla-Bold.ttf'); }

@font-face {
  font-family: "Karla Italic";
  src: url('fonts/Karla/Karla-Italic.ttf'); }

@font-face {
  font-family: "Karla BoldItalic";
  src: url('fonts/Karla/Karla-BoldItalic.ttf'); }

@font-face {
  font-family: "Neuzeit Reg";
  src: url('fonts/Neuzeit/NeuzeitGro-Reg.otf'); }

@font-face {
  font-family: "Neuzeit Bold";
  src: url('fonts/Neuzeit/NeuzeitGro-Bol.otf'); }

@font-face {
  font-family: "Caecilia Regular";
  src: url('fonts/Caecilia/Caecilia-Regular.ttf'); }

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/font/fontello.eot?62442968');
  src: url('fonts/fontello/font/fontello.eot?62442968#iefix') format('embedded-opentype'), url('fonts/fontello/font/fontello.woff?62442968') format('woff'), url('fonts/fontello/font/fontello.ttf?62442968') format('truetype'), url('fonts/fontello/font/fontello.svg?62442968#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/*$caeci-rom:"Caecillia Rom";*/
.nav-buffer {
  position: relative;
  width: 100%;
  height: 113px; }

.involved-content {
  width: 1220px;
  margin: auto; }

#involved-wrapper {
  margin: 130px 0 125px 0; }

.section-heading {
  font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #8A8C88;
  font-size: 1.25em;
  text-align: center; }

.section-sub-heading {
  font-family: "Caecilia Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 2em;
  color: #515254;
  width: 80%;
  margin: 30px auto 40px auto;
  text-align: center; }

.section-link {
  position: relative;
  display: inline-block;
  margin: 0 0 130px 0;
  border-bottom: 4px solid #D4EA00;
  color: #515254;
  font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.75em;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.section-link:hover {
  border-bottom: 4px solid #515254; }

#involved-illus-1 {
  background: url('img/Illos/illus-10.png');
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 537px;
  height: 278px;
  position: absolute;
  left: 0;
  margin: -205px 0 0 0;
  z-index: -1; }

#involved-illus-2 {
  background: url('img/Illos/illus-11.png');
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 456px;
  height: 287px;
  position: absolute;
  right: 0;
  margin: -220px 0 0 0;
  z-index: -1; }

@media only screen and (max-width: 1270px) {
  .involved-content {
    width: auto;
    margin: 0 40px; } }

@media only screen and (max-width: 1000px) {
  #involved-illus-1 {
    background-position-x: -40px;
    width: 450px;
    margin: -155px 0 0 0; } }

@media only screen and (max-width: 600px) {
  .involved-content {
    width: auto;
    margin: 0 20px; }
  #involved-wrapper {
    margin: 80px 0 0 0; }
  .section-heading {
    font-size: 1em;
    margin: 0; }
  .section-sub-heading {
    font-size: 1.25em;
    margin: 30px auto 60px auto; }
  .section-link {
    font-size: 1.25em; }
  .section2 .section-link {
    margin: 0 0 70px 0; }
  #involved-illus-1 {
    width: 350px;
    margin: -144px 0 0 0;
    background-position-x: -80px; }
  #involved-illus-2 {
    width: 280px;
    margin: -180px 0 0 0;
    background-position-x: 100px; } }
