/* Global styles, mixins, variables */
/*
*	FONTS
*/
@font-face {
  font-family: "Karla Regular";
  src: url('fonts/Karla/Karla-Regular.ttf'); }

@font-face {
  font-family: "Karla Bold";
  src: url('fonts/Karla/Karla-Bold.ttf'); }

@font-face {
  font-family: "Karla Italic";
  src: url('fonts/Karla/Karla-Italic.ttf'); }

@font-face {
  font-family: "Karla BoldItalic";
  src: url('fonts/Karla/Karla-BoldItalic.ttf'); }

@font-face {
  font-family: "Neuzeit Reg";
  src: url('fonts/Neuzeit/NeuzeitGro-Reg.otf'); }

@font-face {
  font-family: "Neuzeit Bold";
  src: url('fonts/Neuzeit/NeuzeitGro-Bol.otf'); }

@font-face {
  font-family: "Caecilia Regular";
  src: url('fonts/Caecilia/Caecilia-Regular.ttf'); }

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/font/fontello.eot?62442968');
  src: url('fonts/fontello/font/fontello.eot?62442968#iefix') format('embedded-opentype'), url('fonts/fontello/font/fontello.woff?62442968') format('woff'), url('fonts/fontello/font/fontello.ttf?62442968') format('truetype'), url('fonts/fontello/font/fontello.svg?62442968#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/*$caeci-rom:"Caecillia Rom";*/
.nav-buffer {
  position: relative;
  width: 100%;
  height: 113px; }

#home-splash {
  height: 660px;
  overflow: hidden;
  width: 100%;
  position: relative; }
  #home-splash img {
    position: absolute; }

#home-splash:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(81, 82, 84, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1; }

#home-splash-text-wrap {
  width: 1220px;
  margin: auto;
  height: 547px;
  /* (image height)810 - (nav buffer)113 = 697px */
  position: relative;
  z-index: 2; }
  #home-splash-text-wrap h3 {
    position: relative;
    font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #ffffff;
    font-size: 5.75em;
    text-align: center;
    width: 80%;
    margin: auto;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation-fill-mode: forwards; }

#home-who {
  width: 1220px;
  margin: auto;
  text-align: center; }
  #home-who p {
    font-family: "Caecilia Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 2em;
    color: #515254;
    width: 75%;
    margin: 52px auto 0 auto; }

.section-heading {
  font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #8A8C88;
  font-size: 1.25em;
  margin: 110px 0 0 0; }

#home-featured {
  text-align: center;
  width: 1220px;
  margin: auto; }

.item-1 {
  width: 100%;
  height: 670px;
  margin: 52px 0 22px 0; }
  .item-1 img {
    width: 100%; }

.item-2, .item-3 {
  width: 49%;
  height: 330px; }
  .item-2 img, .item-3 img {
    width: 100%; }

.item-2 {
  float: left; }

.item-3 {
  float: right; }

.featured-item {
  position: relative;
  overflow: hidden; }

.featured-item:hover .hover-overlay {
  opacity: 1; }
.featured-item:hover .featured-item-title {
  opacity: 0; }

.hover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(26, 177, 154, 0.8);
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .hover-overlay p {
    font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.75em;
    color: #ffffff;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation-fill-mode: forwards;
    margin: auto;
    border: 2px solid #ffffff;
    padding: 5px 20px 2px 20px;
    display: inline-block;
    font-weight: 100; }

.featured-item:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(81, 82, 84, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1; }

.featured-item-title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-fill-mode: forwards;
  font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.75em;
  color: #ffffff;
  border-bottom: 2px solid #D4EA00;
  margin: 0;
  z-index: 2;
  font-weight: 100;
  padding: 8px 0 2px 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }

#home-blog {
  width: 1220px;
  margin: auto;
  text-align: center; }
  #home-blog .section-heading {
    margin-bottom: 52px; }

.recent-post {
  width: 23.6%;
  float: left;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  /*.recent-img{
		width:100%;
		//position:relative;
		opacity:0;
		@include transition(0.2s);
	}*/ }
  .recent-post img {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  .recent-post .recent-img:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(81, 82, 84, 0.5);
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 2; }

.recent-post:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-top: 3px solid #515254;
  left: 0;
  right: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.recent-post:after {
  content: '';
  display: inline-block;
  width: 100%;
  border-top: 3px solid #515254;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.recent-post:hover:before, .recent-post:hover:after {
  border-top: 0px solid #515254;
  background: rgba(0, 0, 0, 0.3); }
.recent-post:hover img {
  opacity: 0.8; }
.recent-post:hover .recent-title, .recent-post:hover .recent-date {
  color: #ffffff; }

.post-text {
  position: relative;
  z-index: 3; }

.recent-title {
  font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.25em;
  color: #515254;
  margin: 60px 0 0 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.recent-date {
  font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.68em;
  color: #515254;
  text-transform: uppercase;
  margin: 8px 0 55px 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-weight: 600; }

.recent-post-1, .recent-post-2, .recent-post-3 {
  margin: 0 1.8666% 135px 0; }

#home-illus-zero {
  background: url('img/Illos/illus-14.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 201px;
  height: 155px;
  position: absolute;
  margin: -75px 0 0 0;
  right: 70px; }

#home-illus-one {
  background: url('img/Illos/illus-01.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 158px;
  height: 157px;
  position: absolute;
  margin: -31px 0 0 0;
  z-index: -1; }

#home-illus-two {
  background: url('img/Illos/illus-02.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: 115px;
  overflow: hidden;
  width: 301px;
  height: 242px;
  position: absolute;
  right: 0;
  margin: -31px 0 0 0;
  z-index: -1; }

@media only screen and (max-width: 1270px) {
  #home-splash-text-wrap {
    width: auto;
    margin: 0 40px; }
  #home-who {
    width: auto;
    margin: 0 40px; }
  #home-featured {
    width: auto;
    margin: 0 40px; }
  #home-blog {
    width: auto;
    margin: 0 40px; } }

@media only screen and (max-width: 1000px) {
  #home-splash {
    height: 650px; }
  #home-splash-text-wrap {
    height: 537px; }
    #home-splash-text-wrap h3 {
      font-size: 3em; }
  .item-1 {
    height: 500px; }
  .item-2, .item-3 {
    height: 270px; }
  .recent-post {
    width: 48%; }
  .recent-post-1, .recent-post-3 {
    margin: 0 4% 0 0; }
  .recent-post-2, .recent-post-4 {
    margin: 0 0 0 0; }
  .recent-post-3, .recent-post-4 {
    margin-bottom: 25px; }
    .recent-post-3:before, .recent-post-4:before {
      display: none; }
  .recent-date {
    margin: 8px 0 40px 0; }
  #home-illus-zero {
    right: 10px; } }

@media only screen and (max-width: 600px) {
  #home-splash {
    height: 570px; }
  .section-heading {
    font-size: 1em;
    margin: 70px 0 0 0; }
  #home-splash-text-wrap {
    height: 447px;
    margin: 0 20px; }
    #home-splash-text-wrap h3 {
      font-size: 1.75em; }
  #home-who {
    width: auto;
    margin: 0 20px; }
    #home-who p {
      font-size: 1.25em;
      margin: 20px auto 0 auto; }
  #home-featured {
    width: 100%;
    margin: auto; }
  .hover-overlay p {
    font-size: 1.25em; }
  .featured-item-title {
    font-size: 1.25em; }
  .item-1 {
    margin: 22px 0 22px 0; }
  .item-1, .item-2, .item-3 {
    height: 350px;
    float: left;
    clear: both;
    width: 100%; }
  .item-2, .item-3 {
    margin: 0 0 22px 0; }
  #home-blog {
    margin: 0 20px; }
    #home-blog .section-heading {
      margin: 45px 0 32px 0; }
  .recent-post-1, .recent-post-2, .recent-post-3, .recent-post-4 {
    width: 100%;
    margin: 0;
    height: auto !important; }
  .recent-post-1:before, .recent-post-2:before, .recent-post-3:before {
    content: '';
    display: inline-block;
    width: 100%;
    border-top: 3px solid #515254;
    left: 0;
    right: 0;
    position: absolute; }
  .recent-post-1:after, .recent-post-2:after, .recent-post-3:after {
    display: none; }
  .recent-post-4 {
    margin: 0 0 50px 0; }
    .recent-post-4:before {
      content: '';
      display: inline-block;
      width: 100%;
      border-top: 3px solid #515254;
      left: 0;
      right: 0;
      position: absolute; }
    .recent-post-4:after {
      content: '';
      display: inline-block;
      width: 100%;
      border-top: 3px solid #515254;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute; }
  .recent-date {
    margin: 8px 0 30px 0; }
  #home-illus-zero {
    width: 120px;
    margin: -44px 0 0 0;
    right: 10px; }
  #home-illus-one {
    width: 100px;
    margin: -16px 0 0 0; }
  #home-illus-two {
    display: none;
    background-position-x: 40px;
    width: 150px;
    height: 121px;
    margin: -16px 0 0 0; } }
