/* Global styles, mixins, variables */
/*
*	FONTS
*/
@font-face {
  font-family: "Karla Regular";
  src: url('fonts/Karla/Karla-Regular.ttf'); }

@font-face {
  font-family: "Karla Bold";
  src: url('fonts/Karla/Karla-Bold.ttf'); }

@font-face {
  font-family: "Karla Italic";
  src: url('fonts/Karla/Karla-Italic.ttf'); }

@font-face {
  font-family: "Karla BoldItalic";
  src: url('fonts/Karla/Karla-BoldItalic.ttf'); }

@font-face {
  font-family: "Neuzeit Reg";
  src: url('fonts/Neuzeit/NeuzeitGro-Reg.otf'); }

@font-face {
  font-family: "Neuzeit Bold";
  src: url('fonts/Neuzeit/NeuzeitGro-Bol.otf'); }

@font-face {
  font-family: "Caecilia Regular";
  src: url('fonts/Caecilia/Caecilia-Regular.ttf'); }

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/font/fontello.eot?62442968');
  src: url('fonts/fontello/font/fontello.eot?62442968#iefix') format('embedded-opentype'), url('fonts/fontello/font/fontello.woff?62442968') format('woff'), url('fonts/fontello/font/fontello.ttf?62442968') format('truetype'), url('fonts/fontello/font/fontello.svg?62442968#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/*$caeci-rom:"Caecillia Rom";*/
.nav-buffer {
  position: relative;
  width: 100%;
  height: 113px; }

#masthead {
  position: absolute;
  width: 100%;
  z-index: 999;
  -webkit-transition: background-color 0.3s ease;
  -moz-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease; }

footer {
  width: 100%;
  background: #868688; }

#header-inner, #footer-inner {
  max-width: 1220px;
  width: 100%;
  margin: auto; }

#footer-inner {
  padding: 63px 0 50px 0; }

#site-logo, #footer-site-logo {
  float: left;
  width: 295px;
  height: 73px;
  margin: 40px 0 0 0;
  position: relative;
  -webkit-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  transition: margin 0.3s ease; }
  #site-logo img, #footer-site-logo img {
    width: 100%; }
  #site-logo h1, #footer-site-logo h1 {
    display: none; }

#logo-light {
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

#logo-dark {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

#main-menu-wrap, #footer-main-menu-wrap {
  float: right;
  font-family: "Karla Bold";
  color: red;
  font-size: 0.75em;
  text-transform: uppercase;
  margin: 56px 0 0 0;
  -webkit-transition: margin 0.3s ease;
  -moz-transition: margin 0.3s ease;
  -o-transition: margin 0.3s ease;
  transition: margin 0.3s ease; }
  #main-menu-wrap ul, #footer-main-menu-wrap ul {
    list-style: none;
    zoom: 1; }
    #main-menu-wrap ul:before, #main-menu-wrap ul:after, #footer-main-menu-wrap ul:before, #footer-main-menu-wrap ul:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    #main-menu-wrap ul:after, #footer-main-menu-wrap ul:after {
      clear: both; }
  #main-menu-wrap li, #footer-main-menu-wrap li {
    float: left; }
  #main-menu-wrap a, #footer-main-menu-wrap a {
    text-decoration: none;
    color: #515254; }
  #main-menu-wrap .main-menu-contact, #footer-main-menu-wrap .main-menu-contact {
    cursor: pointer; }
  #main-menu-wrap .main-menu-contact, #main-menu-wrap .main-menu-blog, #main-menu-wrap .main-menu-involved, #main-menu-wrap .main-menu-work, #footer-main-menu-wrap .main-menu-contact, #footer-main-menu-wrap .main-menu-blog, #footer-main-menu-wrap .main-menu-involved, #footer-main-menu-wrap .main-menu-work {
    margin: 0 20px 0 0; }
    #main-menu-wrap .main-menu-contact a, #main-menu-wrap .main-menu-blog a, #main-menu-wrap .main-menu-involved a, #main-menu-wrap .main-menu-work a, #footer-main-menu-wrap .main-menu-contact a, #footer-main-menu-wrap .main-menu-blog a, #footer-main-menu-wrap .main-menu-involved a, #footer-main-menu-wrap .main-menu-work a {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  #main-menu-wrap .main-menu-contact:hover a, #main-menu-wrap .main-menu-blog:hover a, #main-menu-wrap .main-menu-involved:hover a, #main-menu-wrap .main-menu-work:hover a, #footer-main-menu-wrap .main-menu-contact:hover a, #footer-main-menu-wrap .main-menu-blog:hover a, #footer-main-menu-wrap .main-menu-involved:hover a, #footer-main-menu-wrap .main-menu-work:hover a {
    color: #1AB19A; }
  #main-menu-wrap .main-menu-about, #footer-main-menu-wrap .main-menu-about {
    margin: 0 20px 0 0;
    position: relative; }
    #main-menu-wrap .main-menu-about a, #footer-main-menu-wrap .main-menu-about a {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #main-menu-wrap .main-menu-about ul, #footer-main-menu-wrap .main-menu-about ul {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
      max-height: 0;
      opacity: 0;
      position: relative;
      padding: 0;
      overflow: hidden;
      margin: 0 -100px 0 0; }
      #main-menu-wrap .main-menu-about ul li, #footer-main-menu-wrap .main-menu-about ul li {
        clear: both;
        text-transform: Capitalize;
        margin: 0 0 5px 0; }
      #main-menu-wrap .main-menu-about ul li:hover a, #footer-main-menu-wrap .main-menu-about ul li:hover a {
        color: #1AB19A; }
  #main-menu-wrap .main-menu-about:hover a, #footer-main-menu-wrap .main-menu-about:hover a {
    color: #1AB19A; }
  #main-menu-wrap .main-menu-about:hover ul, #footer-main-menu-wrap .main-menu-about:hover ul {
    max-height: 1000px;
    opacity: 1;
    padding: 9px 0 0 0; }
    #main-menu-wrap .main-menu-about:hover ul a, #footer-main-menu-wrap .main-menu-about:hover ul a {
      color: #515254; }
  #main-menu-wrap .main-menu-donate a, #footer-main-menu-wrap .main-menu-donate a {
    padding: 15px 17px;
    border: 2px solid #1AB19A;
    background: rgba(26, 177, 154, 0);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #1AB19A; }
  #main-menu-wrap .main-menu-donate:hover a, #footer-main-menu-wrap .main-menu-donate:hover a {
    color: #ffffff;
    background: #1ab19a; }

/* Footer Nav Changes */
#footer-main-menu-wrap a {
  color: #ffffff; }
#footer-main-menu-wrap .main-menu-about:hover ul a {
  color: #ffffff; }
#footer-main-menu-wrap .main-menu-donate a {
  padding: 15px 17px;
  border: 2px solid #ffffff;
  background: rgba(26, 177, 154, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #ffffff; }
#footer-main-menu-wrap .main-menu-donate:hover a {
  color: #ffffff;
  border: 2px solid #1AB19A;
  background: #1ab19a; }

/*
#footer-social-wrap{
	float:left;
	clear:both;
	width:100%;
	@include karla-bold-12($white);
	margin:40px 0 0 0;
	ul{
		float:right;
		list-style:none;
	}
	li{
		float:left;
		margin:0 0 0 10px;
		padding:0 0 2px 0;
		border-bottom:2px solid $yellow;
		@include transition(0.2s);
	}
	li:hover{
		border-bottom:2px solid $font-dark;
	}
	a{
		text-decoration:none;
		color:$white;
	}
}
*/
#contact-details {
  float: right;
  clear: both;
  margin: 15px 41px 0 0; }
  #contact-details p {
    font-family: "Karla Bold";
    color: #ffffff;
    font-size: 0.75em;
    margin: 4px 0 0 0;
    clear: both; }
    #contact-details p a {
      color: #ffffff; }
  #contact-details a {
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    margin: 2px 0 0 0; }
    #contact-details a p {
      border-bottom: 2px solid #D4EA00;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      margin: 0; }
  #contact-details a:hover p {
    border-bottom: 2px solid #515254; }

.page-template-page-templateshome-php #masthead, .page-template-page-templatesour_work-php #masthead {
  position: absolute;
  background-color: rgba(255, 255, 255, 0); }
.page-template-page-templateshome-php #logo-light, .page-template-page-templatesour_work-php #logo-light {
  opacity: 1; }
.page-template-page-templateshome-php #logo-dark, .page-template-page-templatesour_work-php #logo-dark {
  opacity: 0; }
.page-template-page-templateshome-php #main-menu-wrap a, .page-template-page-templatesour_work-php #main-menu-wrap a {
  color: #ffffff; }
.page-template-page-templateshome-php #main-menu-wrap .main-menu-about ul li:hover a, .page-template-page-templatesour_work-php #main-menu-wrap .main-menu-about ul li:hover a {
  color: #1AB19A; }
.page-template-page-templateshome-php #main-menu-wrap .main-menu-about:hover ul a, .page-template-page-templatesour_work-php #main-menu-wrap .main-menu-about:hover ul a {
  color: #ffffff; }
.page-template-page-templateshome-php #main-menu-wrap .main-menu-donate a, .page-template-page-templatesour_work-php #main-menu-wrap .main-menu-donate a {
  color: #1AB19A; }
.page-template-page-templateshome-php #main-menu-wrap .main-menu-donate:hover a, .page-template-page-templatesour_work-php #main-menu-wrap .main-menu-donate:hover a {
  color: #ffffff; }
.page-template-page-templateshome-php #main-menu-wrap .main-menu-blog:hover a, .page-template-page-templatesour_work-php #main-menu-wrap .main-menu-blog:hover a {
  color: #FF5F3F; }
.page-template-page-templateshome-php #mobile-toggle:before, .page-template-page-templatesour_work-php #mobile-toggle:before {
  color: #ffffff; }

#main-menu-wrap .current-menu-item a {
  color: #1AB19A; }
#main-menu-wrap .current-menu-item ul .current-menu-item a {
  color: #1AB19A; }
#main-menu-wrap .current-menu-parent a {
  color: #1AB19A; }
#main-menu-wrap .current-menu-parent ul .current-menu-item a {
  color: #1AB19A; }
#main-menu-wrap .main-menu-blog.current-menu-item a {
  color: #FF5F3F; }

.blog #main-menu-wrap .main-menu-blog a, .archive #main-menu-wrap .main-menu-blog a {
  color: #FF5F3F; }
.blog #main-menu-wrap .main-menu-donate a, .archive #main-menu-wrap .main-menu-donate a {
  padding: 15px 17px;
  border: 2px solid #FF5F3F;
  background: rgba(255, 95, 63, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #FF5F3F; }
.blog #main-menu-wrap .main-menu-donate:hover a, .archive #main-menu-wrap .main-menu-donate:hover a {
  color: #ffffff;
  background: #ff5f3f; }

#masthead.bg-color {
  background-color: white; }
  #masthead.bg-color #site-logo {
    margin: 10px 0 10px 0; }
  #masthead.bg-color #logo-light {
    opacity: 0; }
  #masthead.bg-color #logo-dark {
    opacity: 1; }
  #masthead.bg-color a {
    color: #515254; }
  #masthead.bg-color #main-menu-wrap {
    margin: 27px 0 0 0; }
    #masthead.bg-color #main-menu-wrap .main-menu-about ul li:hover a {
      color: #1AB19A; }
    #masthead.bg-color #main-menu-wrap .main-menu-about:hover ul a {
      color: #515254; }
    #masthead.bg-color #main-menu-wrap .current-menu-item a {
      color: #1AB19A; }
  #masthead.bg-color #mobile-toggle {
    margin: 30px 0 0 0; }

#mobile-toggle {
  display: none;
  cursor: pointer; }

#mobile-toggle:before {
  font-family: 'fontello';
  content: '\e814';
  display: inline-block;
  font-size: 2em;
  font-weight: 100;
  color: #515254; }

@media only screen and (max-width: 1270px) {
  #header-inner, #footer-inner {
    width: auto;
    margin: 0 40px; } }

@media only screen and (max-width: 900px) {
  #main-menu-wrap {
    display: none;
    clear: both;
    background: #1AB19A;
    float: none;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0; }
    #main-menu-wrap #menu-main-menu {
      margin: 0; }
    #main-menu-wrap .menu-main-menu-container {
      display: inline-block;
      position: relative;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-animation-fill-mode: forwards; }
    #main-menu-wrap ul {
      padding: 0; }
      #main-menu-wrap ul li {
        float: none;
        clear: both;
        text-align: center; }
    #main-menu-wrap .main-menu-work, #main-menu-wrap .main-menu-about, #main-menu-wrap .main-menu-involved, #main-menu-wrap .main-menu-blog, #main-menu-wrap .main-menu-contact {
      margin: 0 0 25px 0; }
      #main-menu-wrap .main-menu-work a, #main-menu-wrap .main-menu-about a, #main-menu-wrap .main-menu-involved a, #main-menu-wrap .main-menu-blog a, #main-menu-wrap .main-menu-contact a {
        color: #ffffff; }
    #main-menu-wrap .main-menu-contact:hover a, #main-menu-wrap .main-menu-blog:hover a, #main-menu-wrap .main-menu-involved:hover a, #main-menu-wrap .main-menu-work:hover a {
      color: #A3E0D7; }
    #main-menu-wrap .main-menu-about ul {
      max-height: 0;
      opacity: 1;
      margin: 0;
      padding: 0 0 0 0; }
      #main-menu-wrap .main-menu-about ul li:hover a {
        color: #A3E0D7; }
    #main-menu-wrap .main-menu-about:hover a {
      color: #A3E0D7; }
    #main-menu-wrap .main-menu-about:hover ul {
      max-height: 0;
      opacity: 1;
      padding: 0 0 0 0; }
      #main-menu-wrap .main-menu-about:hover ul a {
        color: #ffffff; }
    #main-menu-wrap .main-menu-donate {
      margin-top: 42px; }
      #main-menu-wrap .main-menu-donate a {
        border: 2px solid #ffffff;
        background: rgba(255, 255, 255, 0);
        color: #ffffff; }
    #main-menu-wrap .current-menu-item a {
      color: #A3E0D7; }
    #main-menu-wrap .current-menu-parent a {
      color: #A3E0D7; }
    #main-menu-wrap .current-menu-parent ul a {
      color: #ffffff; }
    #main-menu-wrap .current-menu-parent ul .current-menu-item a {
      color: #A3E0D7; }
  .blog #main-menu-wrap .main-menu-blog a, .archive #main-menu-wrap .main-menu-blog a {
    color: #A3E0D7; }
  .blog #main-menu-wrap .main-menu-donate, .archive #main-menu-wrap .main-menu-donate {
    margin-top: 42px; }
    .blog #main-menu-wrap .main-menu-donate a, .archive #main-menu-wrap .main-menu-donate a {
      border: 2px solid #ffffff;
      background: rgba(255, 255, 255, 0);
      color: #ffffff; }
  .blog #main-menu-wrap .main-menu-donate:hover a, .archive #main-menu-wrap .main-menu-donate:hover a {
    background: white;
    color: #1AB19A; }
  .page-template-page-templatesabout_us_approach-php #main-menu-wrap .main-menu-about ul, .page-template-page-templatesabout_us_people-php #main-menu-wrap .main-menu-about ul, .page-template-page-templatesabout_us_impact-php #main-menu-wrap .main-menu-about ul {
    max-height: 1000px;
    padding: 9px 0 0 0; }
  .page-template-page-templatesabout_us_approach-php #main-menu-wrap .main-menu-about:hover ul, .page-template-page-templatesabout_us_people-php #main-menu-wrap .main-menu-about:hover ul, .page-template-page-templatesabout_us_impact-php #main-menu-wrap .main-menu-about:hover ul {
    max-height: 1000px;
    padding: 9px 0 0 0; }
  .page-template-page-templateshome-php #main-menu-wrap .main-menu-donate a, .page-template-page-templatesour_work-php #main-menu-wrap .main-menu-donate a {
    color: #ffffff; }
  .page-template-page-templateshome-php #main-menu-wrap .main-menu-donate:hover a, .page-template-page-templatesour_work-php #main-menu-wrap .main-menu-donate:hover a {
    color: #1AB19A;
    background: white; }
  .page-template-page-templateshome-php #main-menu-wrap .main-menu-blog:hover a, .page-template-page-templatesour_work-php #main-menu-wrap .main-menu-blog:hover a {
    color: #A3E0D7; }
  .blog-page #main-menu-wrap .main-menu-blog a {
    color: #A3E0D7; }
  .project-page #main-menu-wrap .main-menu-work a {
    color: #A3E0D7; }
  #mobile-toggle {
    display: block;
    float: right;
    margin: 56px 0 0 0; }
  #mobile-toggle.open {
    position: fixed;
    z-index: 2;
    right: 20px;
    top: 20px;
    margin: 5px 0 0 0; }
  #mobile-toggle.open:before {
    font-family: 'fontello';
    content: '\e800';
    display: inline-block;
    font-size: 2em;
    font-weight: 100;
    color: #ffffff;
    margin: 0 3px 0 0; }
  #footer-site-logo {
    float: none;
    margin: 40px auto 0 auto; }
  #footer-main-menu-wrap {
    float: none;
    margin: 56px auto 0 auto; }
    #footer-main-menu-wrap ul {
      padding: 0;
      display: inline-block;
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-animation-fill-mode: forwards; } }

@media only screen and (max-width: 600px) {
  #header-inner, #footer-inner {
    margin: 0 20px; }
  #footer-main-menu-wrap {
    display: none; }
  #site-logo, #footer-site-logo {
    width: 186px;
    height: 46px;
    margin: 20px 0 0 0; }
  #mobile-toggle {
    margin: 25px 0 0 0; }
  #mobile-toggle:before {
    line-height: 1em; } }

@media only screen and (max-width: 350px) { }

@media only screen and (max-width: 300px) { }
