/* Global styles, mixins, variables */
/*
*	FONTS
*/
@font-face {
  font-family: "Karla Regular";
  src: url('fonts/Karla/Karla-Regular.ttf'); }

@font-face {
  font-family: "Karla Bold";
  src: url('fonts/Karla/Karla-Bold.ttf'); }

@font-face {
  font-family: "Karla Italic";
  src: url('fonts/Karla/Karla-Italic.ttf'); }

@font-face {
  font-family: "Karla BoldItalic";
  src: url('fonts/Karla/Karla-BoldItalic.ttf'); }

@font-face {
  font-family: "Neuzeit Reg";
  src: url('fonts/Neuzeit/NeuzeitGro-Reg.otf'); }

@font-face {
  font-family: "Neuzeit Bold";
  src: url('fonts/Neuzeit/NeuzeitGro-Bol.otf'); }

@font-face {
  font-family: "Caecilia Regular";
  src: url('fonts/Caecilia/Caecilia-Regular.ttf'); }

/*$caeci-rom:"Caecillia Rom";*/
.nav-buffer {
  position: relative;
  width: 100%;
  height: 113px; }

#masthead {
  position: absolute;
  width: 100%;
  z-index: 999;
  margin: 40px 0 0 0; }

footer {
  width: 100%;
  background: #868688; }

#header-inner, #footer-inner {
  max-width: 1220px;
  width: 100%;
  margin: auto; }

#footer-inner {
  padding: 63px 0 50px 0; }

#site-logo, #footer-site-logo {
  float: left;
  width: 295px;
  height: 73px; }
  #site-logo img, #footer-site-logo img {
    width: 100%; }
  #site-logo h1, #footer-site-logo h1 {
    display: none; }

#logo-light {
  display: none; }

#logo-dark {
  display: block; }

#main-menu-wrap, #footer-main-menu-wrap {
  float: right;
  font-family: "Karla Bold";
  color: red;
  font-size: 0.75em;
  text-transform: uppercase;
  margin: 16px 0 0 0; }
  #main-menu-wrap ul, #footer-main-menu-wrap ul {
    list-style: none;
    zoom: 1; }
    #main-menu-wrap ul:before, #main-menu-wrap ul:after, #footer-main-menu-wrap ul:before, #footer-main-menu-wrap ul:after {
      content: "\0020";
      display: block;
      height: 0;
      overflow: hidden; }
    #main-menu-wrap ul:after, #footer-main-menu-wrap ul:after {
      clear: both; }
  #main-menu-wrap li, #footer-main-menu-wrap li {
    float: left; }
  #main-menu-wrap a, #footer-main-menu-wrap a {
    text-decoration: none;
    color: #515254; }
  #main-menu-wrap .main-menu-contact, #footer-main-menu-wrap .main-menu-contact {
    cursor: pointer; }
  #main-menu-wrap .main-menu-contact, #main-menu-wrap .main-menu-blog, #main-menu-wrap .main-menu-involved, #main-menu-wrap .main-menu-work, #footer-main-menu-wrap .main-menu-contact, #footer-main-menu-wrap .main-menu-blog, #footer-main-menu-wrap .main-menu-involved, #footer-main-menu-wrap .main-menu-work {
    margin: 0 20px 0 0; }
    #main-menu-wrap .main-menu-contact a, #main-menu-wrap .main-menu-blog a, #main-menu-wrap .main-menu-involved a, #main-menu-wrap .main-menu-work a, #footer-main-menu-wrap .main-menu-contact a, #footer-main-menu-wrap .main-menu-blog a, #footer-main-menu-wrap .main-menu-involved a, #footer-main-menu-wrap .main-menu-work a {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
  #main-menu-wrap .main-menu-contact:hover a, #main-menu-wrap .main-menu-blog:hover a, #main-menu-wrap .main-menu-involved:hover a, #main-menu-wrap .main-menu-work:hover a, #footer-main-menu-wrap .main-menu-contact:hover a, #footer-main-menu-wrap .main-menu-blog:hover a, #footer-main-menu-wrap .main-menu-involved:hover a, #footer-main-menu-wrap .main-menu-work:hover a {
    color: #1AB19A; }
  #main-menu-wrap .main-menu-about, #footer-main-menu-wrap .main-menu-about {
    margin: 0 20px 0 0;
    position: relative; }
    #main-menu-wrap .main-menu-about a, #footer-main-menu-wrap .main-menu-about a {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    #main-menu-wrap .main-menu-about ul, #footer-main-menu-wrap .main-menu-about ul {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      max-height: 0;
      opacity: 0;
      position: absolute;
      padding: 0;
      width: 200px;
      overflow: hidden; }
      #main-menu-wrap .main-menu-about ul li, #footer-main-menu-wrap .main-menu-about ul li {
        clear: both;
        text-transform: Capitalize;
        margin: 0 0 5px 0; }
      #main-menu-wrap .main-menu-about ul li:hover a, #footer-main-menu-wrap .main-menu-about ul li:hover a {
        color: #1AB19A; }
  #main-menu-wrap .main-menu-about:hover a, #footer-main-menu-wrap .main-menu-about:hover a {
    color: #1AB19A; }
  #main-menu-wrap .main-menu-about:hover ul, #footer-main-menu-wrap .main-menu-about:hover ul {
    max-height: 1000px;
    opacity: 1;
    padding: 13px 0 0 0; }
    #main-menu-wrap .main-menu-about:hover ul a, #footer-main-menu-wrap .main-menu-about:hover ul a {
      color: #515254; }
  #main-menu-wrap .main-menu-donate a, #footer-main-menu-wrap .main-menu-donate a {
    padding: 15px 17px;
    border: 2px solid #1AB19A;
    background: rgba(26, 177, 154, 0);
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: #1AB19A; }
  #main-menu-wrap .main-menu-donate:hover a, #footer-main-menu-wrap .main-menu-donate:hover a {
    color: #ffffff;
    background: #1ab19a; }

/* Footer Nav Changes */
#footer-main-menu-wrap a {
  color: #ffffff; }
#footer-main-menu-wrap .main-menu-about:hover ul a {
  color: #ffffff; }
#footer-main-menu-wrap .main-menu-donate a {
  padding: 15px 17px;
  border: 2px solid #ffffff;
  background: rgba(26, 177, 154, 0);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #ffffff; }
#footer-main-menu-wrap .main-menu-donate:hover a {
  color: #ffffff;
  border: 2px solid #1AB19A;
  background: #1ab19a; }

/*
#footer-social-wrap{
	float:left;
	clear:both;
	width:100%;
	@include karla-bold-12($white);
	margin:40px 0 0 0;
	ul{
		float:right;
		list-style:none;
	}
	li{
		float:left;
		margin:0 0 0 10px;
		padding:0 0 2px 0;
		border-bottom:2px solid $yellow;
		@include transition(0.2s);
	}
	li:hover{
		border-bottom:2px solid $font-dark;
	}
	a{
		text-decoration:none;
		color:$white;
	}
}
*/
#contact-details {
  float: right;
  clear: both;
  margin: 15px 41px 0 0; }
  #contact-details p {
    font-family: "Karla Bold";
    color: #ffffff;
    font-size: 0.75em;
    margin: 4px 0 0 0;
    clear: both; }
    #contact-details p a {
      color: #ffffff; }
  #contact-details a {
    font-size: 1em;
    text-decoration: none;
    display: inline-block;
    margin: 2px 0 0 0; }
    #contact-details a p {
      border-bottom: 2px solid #D4EA00;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;
      margin: 0; }
  #contact-details a:hover p {
    border-bottom: 2px solid #515254; }

.page-template-page-templateshome-php #logo-light, .page-template-page-templatesour_work-php #logo-light {
  display: block; }
.page-template-page-templateshome-php #logo-dark, .page-template-page-templatesour_work-php #logo-dark {
  display: none; }
.page-template-page-templateshome-php #main-menu-wrap a, .page-template-page-templatesour_work-php #main-menu-wrap a {
  color: #ffffff; }
.page-template-page-templateshome-php #main-menu-wrap .main-menu-about ul li:hover a, .page-template-page-templatesour_work-php #main-menu-wrap .main-menu-about ul li:hover a {
  color: #1AB19A; }
.page-template-page-templateshome-php #main-menu-wrap .main-menu-about:hover ul a, .page-template-page-templatesour_work-php #main-menu-wrap .main-menu-about:hover ul a {
  color: #ffffff; }
.page-template-page-templateshome-php #main-menu-wrap .main-menu-donate a, .page-template-page-templatesour_work-php #main-menu-wrap .main-menu-donate a {
  color: #1AB19A; }
.page-template-page-templateshome-php #main-menu-wrap .main-menu-donate:hover a, .page-template-page-templatesour_work-php #main-menu-wrap .main-menu-donate:hover a {
  color: #ffffff; }

@media only screen and (max-width: 1150px) {
  #header-inner, #footer-inner {
    width: 90%; } }

@media only screen and (max-width: 650px) {
  /*#footer-social-wrap{
		float:none;
		width:232px;
		margin:40px auto 0 auto;
		ul{
			float:none;
			width:100%;
			margin:auto;
			padding:0;
		}
	}*/
  #masthead {
    margin: 20px 0 0 0; }
  #site-logo, #footer-site-logo {
    float: none;
    margin: 0 auto 38px auto; }
  #main-menu-wrap, #footer-main-menu-wrap {
    float: none;
    width: 295px;
    margin: 16px auto 0 auto; }
    #main-menu-wrap ul, #footer-main-menu-wrap ul {
      padding: 0;
      width: 220px;
      margin: auto; }
    #main-menu-wrap .menu-contact, #main-menu-wrap .menu-blog, #footer-main-menu-wrap .menu-contact, #footer-main-menu-wrap .menu-blog {
      margin: 0 15px 0 0; }
  #contact-details {
    float: none;
    text-align: center;
    margin: 38px 0 0 0; }
    #contact-details p {
      float: none;
      clear: both;
      margin: 4px 0 0 0; }
    #contact-details a {
      display: inline-block; }
      #contact-details a p {
        margin: 0; } }

@media only screen and (max-width: 400px) {
  #header-inner, #footer-inner {
    width: 100%; }
  #site-logo, #footer-site-logo {
    width: 90%;
    height: auto;
    margin: 0 auto 25px auto; }
  #main-menu-wrap, #footer-main-menu-wrap {
    width: 100%;
    margin: 0;
    /*ul{
			padding:0;
			display:inline-block;
			text-align:center;
			position:relative;
			//left:50%;
			//@include transform(translateX(-50%));
			margin:0;
		}
		li{
			//float:left;
			//clear:both;
			//display:block;
			//text-align:center;
		}
		.menu-contact,
		.menu-blog,
		.menu-contribute{
			//width:100%;
			//margin:0;
			//text-align:center;
		}
		.menu-contact,
		.menu-blog{
			margin:20px 0 0 0;
		}
		.menu-contribute{
			margin:30px 0 0 0;
			a{
				padding:15px 12%;
			}
		}*/ } }

@media only screen and (max-width: 350px) { }

@media only screen and (max-width: 300px) { }
