/* Global styles, mixins, variables */
/*
*	FONTS
*/
@font-face {
  font-family: "Karla Regular";
  src: url('fonts/Karla/Karla-Regular.ttf'); }

@font-face {
  font-family: "Karla Bold";
  src: url('fonts/Karla/Karla-Bold.ttf'); }

@font-face {
  font-family: "Karla Italic";
  src: url('fonts/Karla/Karla-Italic.ttf'); }

@font-face {
  font-family: "Karla BoldItalic";
  src: url('fonts/Karla/Karla-BoldItalic.ttf'); }

@font-face {
  font-family: "Neuzeit Reg";
  src: url('fonts/Neuzeit/NeuzeitGro-Reg.otf'); }

@font-face {
  font-family: "Neuzeit Bold";
  src: url('fonts/Neuzeit/NeuzeitGro-Bol.otf'); }

@font-face {
  font-family: "Caecilia Regular";
  src: url('fonts/Caecilia/Caecilia-Regular.ttf'); }

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/font/fontello.eot?62442968');
  src: url('fonts/fontello/font/fontello.eot?62442968#iefix') format('embedded-opentype'), url('fonts/fontello/font/fontello.woff?62442968') format('woff'), url('fonts/fontello/font/fontello.ttf?62442968') format('truetype'), url('fonts/fontello/font/fontello.svg?62442968#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/*$caeci-rom:"Caecillia Rom";*/
.nav-buffer {
  position: relative;
  width: 100%;
  height: 113px; }

#featured-project {
  height: 660px;
  overflow: hidden;
  width: 100%;
  position: relative; }
  #featured-project img {
    position: absolute;
    width: 100%; }

#featured-project:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(81, 82, 84, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1; }

#featured-text-wrap {
  width: 1220px;
  margin: auto;
  height: 547px;
  /* (image height)810 - (nav buffer)113 = 697px */
  text-align: center;
  position: relative;
  z-index: 2; }
  #featured-text-wrap h3 {
    position: relative;
    font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #ffffff;
    font-size: 3.5em;
    line-height: 0.75em;
    text-align: center;
    max-width: 80%;
    margin: auto;
    border-bottom: 4px solid #D4EA00;
    display: inline-block; }
  #featured-text-wrap a {
    text-decoration: none; }
  #featured-text-wrap #text-wrap-inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-animation-fill-mode: forwards; }
  #featured-text-wrap .featured-text {
    font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.25em;
    line-height: 115px;
    color: #ffffff;
    width: 110px;
    height: 110px;
    border: 4px solid #ffffff;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    border-radius: 200px;
    margin: 0 auto 63px auto; }

#other-projects {
  width: 1220px;
  margin: 25px auto 130px auto; }

.sub-project {
  width: 49%;
  float: left;
  margin: 0 0 25px 0;
  position: relative;
  height: 330px;
  overflow: hidden; }
  .sub-project img {
    width: 100%; }

.sub-project:hover .hover-overlay {
  opacity: 0.8; }
.sub-project:hover .sub-project-text-wrap {
  opacity: 0; }

.sub-project:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(81, 82, 84, 0.5);
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1; }

.sub-project-text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-fill-mode: forwards;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: center;
  z-index: 2; }
  .sub-project-text-wrap h3 {
    margin: 0;
    font-size: 1.75em;
    font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #ffffff;
    border-bottom: 4px solid #D4EA00;
    font-weight: 600;
    padding: 8px 0 0 0; }
  .sub-project-text-wrap .visit-text {
    display: none; }

.odd-project {
  margin: 0 2% 0 0; }

.hover-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1AB19A;
  z-index: 3;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .hover-overlay p {
    font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.75em;
    color: #ffffff;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation-fill-mode: forwards;
    margin: auto;
    border: 4px solid #ffffff;
    padding: 6px 20px 0px 20px;
    display: inline-block;
    font-weight: 600; }

@media only screen and (max-width: 1270px) {
  #featured-text-wrap {
    width: auto;
    margin: 0 40px; }
  #other-projects {
    width: auto;
    margin: 25px 40px 130px 40px; } }

@media only screen and (max-width: 1000px) {
  #featured-project {
    height: 650px; }
  #featured-text-wrap {
    height: 537px; }
  .sub-project {
    height: 270px; } }

@media only screen and (max-width: 600px) {
  #featured-project {
    height: 570px; }
  #featured-text-wrap {
    height: 447px;
    width: auto;
    margin: 0 40px; }
    #featured-text-wrap h3 {
      font-size: 1.75em; }
    #featured-text-wrap .featured-text {
      font-size: 0.75em;
      width: 80px;
      height: 80px;
      line-height: 85px;
      margin: 0 auto 43px auto; }
  #other-projects {
    width: 100%;
    margin: 25px 0 30px 0; }
  .hover-overlay p {
    font-size: 1.25em; }
  .sub-project {
    height: 360px;
    width: 100%;
    clear: both;
    margin: 0 0 25px 0; }
  .sub-project-text-wrap h3 {
    font-size: 1.25em; } }
