/* Global styles, mixins, variables */
/*
*	FONTS
*/
@font-face {
  font-family: "Karla Regular";
  src: url('fonts/Karla/Karla-Regular.ttf'); }

@font-face {
  font-family: "Karla Bold";
  src: url('fonts/Karla/Karla-Bold.ttf'); }

@font-face {
  font-family: "Karla Italic";
  src: url('fonts/Karla/Karla-Italic.ttf'); }

@font-face {
  font-family: "Karla BoldItalic";
  src: url('fonts/Karla/Karla-BoldItalic.ttf'); }

@font-face {
  font-family: "Neuzeit Reg";
  src: url('fonts/Neuzeit/NeuzeitGro-Reg.otf'); }

@font-face {
  font-family: "Neuzeit Bold";
  src: url('fonts/Neuzeit/NeuzeitGro-Bol.otf'); }

@font-face {
  font-family: "Caecilia Regular";
  src: url('fonts/Caecilia/Caecilia-Regular.ttf'); }

@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello/font/fontello.eot?62442968');
  src: url('fonts/fontello/font/fontello.eot?62442968#iefix') format('embedded-opentype'), url('fonts/fontello/font/fontello.woff?62442968') format('woff'), url('fonts/fontello/font/fontello.ttf?62442968') format('truetype'), url('fonts/fontello/font/fontello.svg?62442968#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/*$caeci-rom:"Caecillia Rom";*/
.nav-buffer {
  position: relative;
  width: 100%;
  height: 113px; }

.project-content {
  width: 1220px;
  margin: auto; }

#project-title {
  text-align: center;
  font-family: "Neuzeit Bold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.75em;
  color: #515254;
  margin: 100px 0 0 0; }

#project-headline {
  text-align: center;
  font-family: "Caecilia Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 2em;
  color: #515254;
  margin: 50px auto 0 auto;
  width: 80%; }

.row1 {
  margin-top: 90px; }

.landscape-full {
  width: 100%;
  margin-bottom: 25px;
  float: left; }
  .landscape-full img {
    width: 100%; }

.landscape-half-left, .landscape-half-right {
  width: 49%;
  height: 330px;
  overflow: hidden;
  float: left;
  margin-bottom: 25px; }
  .landscape-half-left img, .landscape-half-right img {
    width: 100%; }

.landscape-half-left {
  margin: 0 2% 25px 0; }

.portrait-full {
  width: 70%;
  margin: auto; }
  .portrait-full img {
    width: 100%; }

.portrait-half-left, .portrait-half-right {
  width: 49%;
  height: 775px;
  overflow: hidden;
  margin-bottom: 25px;
  float: left; }
  .portrait-half-left img, .portrait-half-right img {
    width: 100%; }

.portrait-half-left {
  margin: 0 2% 25px 0; }

.portrait-third-left, .portrait-third-right, .portrait-third-middle {
  width: 32%;
  height: 525px;
  overflow: hidden;
  float: left;
  margin-bottom: 25px; }
  .portrait-third-left img, .portrait-third-right img, .portrait-third-middle img {
    width: 100%; }

.portrait-third-left, .portrait-third-middle {
  margin: 0 2% 25px 0; }

.project-text.headline {
  float: left;
  width: 100%;
  text-align: center;
  font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.75em;
  color: #515254;
  margin: 30px 0 40px 0; }

.project-text.text {
  width: 80%;
  margin: 90px 10% 90px 10%;
  font-family: "Karla Regular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  color: #515254;
  line-height: 1.4em;
  float: left;
  -webkit-column-count: 2;
  /* Chrome, Safari, Opera */
  -moz-column-count: 2;
  /* Firefox */
  column-count: 2;
  -webkit-column-gap: 20px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 20px;
  /* Firefox */
  column-gap: 20px; }

#project-nav {
  font-family: "Neuzeit Reg", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.5em;
  margin: 55px 0 100px 0; }
  #project-nav a {
    color: #515254;
    text-decoration: none; }
  #project-nav p {
    border-bottom: 4px solid #D4EA00;
    margin: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  #project-nav .left {
    float: left; }
  #project-nav .right {
    float: right; }
    #project-nav .right a {
      float: left;
      border-bottom: 4px solid #D4EA00;
      margin: 0 0 0 40px;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    #project-nav .right a:hover {
      border-bottom: 4px solid #515254; }
  #project-nav p:hover {
    border-bottom: 4px solid #515254; }

@media only screen and (max-width: 1270px) {
  .project-content {
    width: auto;
    margin: 0 40px; } }

@media only screen and (max-width: 1100px) {
  .portrait-third-left, .portrait-third-right, .portrait-third-middle {
    height: 430px; }
  .portrait-half-left, .portrait-half-right {
    height: 620px; } }

@media only screen and (max-width: 950px) {
  .portrait-third-left, .portrait-third-right, .portrait-third-middle {
    height: 375px; } }

/*@media only screen and (max-width:900px){
	.portrait-half-left,
	.portrait-half-right{
		height:550px;
	}
}*/
@media only screen and (max-width: 900px) {
  .landscape-half-left, .landscape-half-right {
    width: 100%;
    height: auto;
    margin-bottom: 20px; }
    .landscape-half-left img, .landscape-half-right img {
      display: block !important; }
    .landscape-half-left .backstretch, .landscape-half-right .backstretch {
      display: none !important; }
  .portrait-third-left, .portrait-third-right, .portrait-third-middle, .portrait-half-left, .portrait-half-right {
    width: 100%;
    height: auto;
    margin-bottom: 20px; }
    .portrait-third-left img, .portrait-third-right img, .portrait-third-middle img, .portrait-half-left img, .portrait-half-right img {
      display: block !important; }
    .portrait-third-left .backstretch, .portrait-third-right .backstretch, .portrait-third-middle .backstretch, .portrait-half-left .backstretch, .portrait-half-right .backstretch {
      display: none !important; }
  #project-title {
    margin: 70px 0 0 0; }
  #project-headline {
    width: 90%;
    margin: 30px auto 50px auto; }
  .project-text.text {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1;
    width: 90%;
    margin: 20px 5% 40px 5%; }
  #project-nav {
    margin: 25px 0 80px 0; } }

@media only screen and (max-width: 700px) { }

@media only screen and (max-width: 650px) { }

@media only screen and (max-width: 600px) {
  #project-title {
    font-size: 1.25em;
    margin: 0; }
  #project-headline {
    margin: 30px auto 40px auto; }
  .project-content {
    width: auto;
    margin: 0 20px; }
  #project-headline {
    font-size: 1.25em; }
  #project-nav {
    font-size: 1.25em;
    margin: 25px 0 50px 0; } }
