// _about_approach.scss

@import 'global';

.approach-content{
	width:1000px;
	margin:auto;
}

#section-one{
	text-align:center;
	h4{

	}
	p{

	}
	.section-one-text{
		width:80%;
		margin:55px 10% 85px 10%;
		font-family:$karla-reg;
		font-size:1em;
		color:$font-grey-two;
		line-height:1.4em;
		//float:left;
		text-align:left;
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 20px; /* Firefox */
	    column-gap: 20px;
	}
}
.section-heading{
	font-family:$neu-reg;
	color:$font-grey-one;
	font-size:1.25em;
	margin:130px 0 0 0;
}
.section-sub-heading{
	font-family:$cae-reg;
		font-size:2em;
		color:$font-grey-two;
		width:75%;
		margin:52px auto 0px auto;
		line-height:1.45em;
}
#video{
	width:100%;
	position:relative;
	margin:0 0 55px 0;
	//float:left;
	cursor:pointer;
	img{
		width:100%;
		display:block;
	}
}
#video:hover{
	#play-preload{
		opacity:0;
	}
	#play-button{
		opacity:1;
	}
}
#video:before{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(81,82,84,0.5);
	width:100%;
	height:100%;
	@include transition(0.3s);
	z-index:1;
}
#video-text-wrap{
	position:absolute;
	z-index:2;
	top:50%;
	left:50%;
	@include transform(translate(-50%,-50%));
	text-align:center;
	border-bottom:4px solid rgba(212,234,0,0);
	//width:345px;
	@include transition(0.2s);
	p{
		@include new-bold-28($white);
		margin:55px 0 4px 0;
	}
}
#play-button{
	background-image:url('img/playbutton_hover.png');
	background-repeat:no-repeat;
	background-size:100%;
	width:107px;
	height:107px;
	margin:auto;
	span{
		display:none;
	}
}
#play-preload{
	background-image:url('img/playbutton.png');
	//position:absolute;
	//left:-9999999px;
	background-repeat:no-repeat;
	background-size:100%;
	width:107px;
	height:107px;
	
	margin:-107px auto 0 auto;
	opacity:1;
	@include transition(0.3s);
	-webkit-transform: translateZ(0);
}
#section-two{
	text-align:center;
	.section-heading{
		margin:30px 0 0 0;
	}
	.section-sub-heading{
		margin:32px auto 0 auto;
	}
	.section-two-text{
		width:80%;
		margin:55px 10% 95px 10%;
		font-family:$karla-reg;
		font-size:1em;
		color:$font-grey-two;
		line-height:1.4em;
		float:left;
		text-align:left;
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
	    -moz-column-count: 2; /* Firefox */
	    column-count: 2;
	    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 20px; /* Firefox */
	    column-gap: 20px;
	}
}
.picture-1{
	width:100%;
	margin:0 0 22px 0;
	img{
		width:100%;
	}
}
.picture-2,
.picture-3{
	width:49%;
	height:330px;
	overflow:hidden;
	float:left;
	//margin-bottom:25px;
	img{
		display:none;
		width:100%;
	}
	.backstrecth{
		display:block !important;
		img{
			display:block !important;
		}
	}
}
.picture-2{
	margin:0 2% 140px 0;
}
#approach-illus-one{
	background:url('img/Illos/illus-03.png');
	background-size:100%;
	background-repeat:no-repeat;
	overflow:hidden;
	width:421px;
	height:129px;
	position:relative;
	left:50%;
	@include transform(translateX(-50%));
	//margin:-31px 0 0 0;
	z-index:-1;
}
////////////////////////////////////////////////////
@media only screen and (max-width:1270px){
	.approach-content{
		width:auto;
		margin:0 40px;
	}
}
@media only screen and (max-width:1000px){//tablet-ish
	.section-heading{
		margin:100px 0 0 0;
	}
	.picture-1{
	//.picture-2,
	//.picture-3{
		width:100%;
		float:none;
		height:auto;
		margin:0 0 20px 0;
		
	}
	.picture-2,
	.picture-3{
		height:275px;
	}
}
@media only screen and (max-width:900px){//phone-ish
	#section-one,
	#section-two{
		.section-one-text,
		.section-two-text{	
			text-align:center;
			-webkit-column-count: 1; /* Chrome, Safari, Opera */
		    -moz-column-count: 1; /* Firefox */
		    column-count: 1;
		    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
		    -moz-column-gap: 20px; /* Firefox */
		    column-gap: 20px;
		}
	}
	.picture-2,
	.picture-3{
		width:100%;
		height:auto;
		margin:0 0 20px 0;
		img{
			display:block !important;
		}
		.backstrecth{
			display:none !important;
		}
	}
}
@media only screen and (max-width:600px){//phone-ish
	.approach-content{
		width:100%;
		margin:auto;
	}
	.section-heading{
		font-size:1em;
		margin:80px 0 0 0;
	}
	.section-sub-heading{
		font-size:1.25em;
		width:auto;
		margin:25px 40px 70px 40px;
	}
	#section-one{
		.section-heading{
			margin:30px 0 0 0;
		}
	}
	#section-two {
		.section-sub-heading{
			margin:25px 40px 0 40px;
		}
		.section-two-text{
			-webkit-column-count: 1; /* Chrome, Safari, Opera */
	   		-moz-column-count: 1; /* Firefox */
	    	column-count: 1;
	    	margin:40px 40px 30px 40px;
	    	width:auto;
		}
	}
	#video{
		margin:0 0 40px 0;
	}
	.picture-1,
	.picture-2,
	.picture-3{
		width:100%;
		float:none;
		margin:0 0 20px 0;
		img{
			display:block !important;
		}
		.backstrecth{
			display:none !important;
		}
	}
	#images{
		margin:0 0 20px 0;
	}
	#approach-illus-one{
		width:210px;
		height:65px;
	}
}