// _about_impact.scss

@import 'global';

.impact-content{
	width:$max-width;
	margin:auto;
}
#section-one{
	.section-heading{
		margin:130px 0 0 0;
	}
}
.section-heading{
	font-family:$neu-reg;
	color:$font-grey-one;
	font-size:1.25em;
	text-align:center;
	
}
.section-sub-heading{
	font-family:$cae-reg;
	font-size:2em;
	color:$font-grey-two;
	width:75%;
	margin:30px auto 60px auto;
	text-align:center;
	line-height:1.45em;
}
.section-text{
	width:80%;
	margin:0 10% 80px 10%;
	font-family:$karla-reg;
	font-size:1em;
	color:$font-grey-two;
	line-height:1.4em;
	float:left;

	-webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
}
#video{
	width:100%;
	position:relative;
	cursor:pointer;
	img{
		width:100%;
		display:block;
	}
	a{
		//display:block;
	}
}
#video:before{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(81,82,84,0.5);
	width:100%;
	height:100%;
	@include transition(0.3s);
	z-index:1;
	display:inline-block;
}
#video-text-wrap{
	position:absolute;
	z-index:2;
	top:50%;
	left:50%;
	@include transform(translate(-50%,-50%));
	text-align:center;
	border-bottom:4px solid rgba(212,234,0,0);
	//width:345px;
	@include transition(0.2s);
	p{
		@include new-bold-28($white);
		margin:55px 0 4px 0;
	}
}
#play-button{
	background-image:url('img/playbutton_hover.png');
	background-repeat:no-repeat;
	background-size:100%;
	width:107px;
	height:107px;
	margin:auto;
	span{
		display:none;
	}
}
#play-preload{
	background-image:url('img/playbutton.png');
	//position:absolute;
	//left:-9999999px;
	background-repeat:no-repeat;
	background-size:100%;
	width:107px;
	height:107px;
	
	margin:-107px auto 0 auto;
	opacity:1;
	@include transition(0.3s);
	-webkit-transform: translateZ(0);
}
#video:hover{
	#play-preload{
		opacity:0;
	}
	#play-button{
		opacity:1;
	}
}
#awards-heading{
	.section-heading{
		margin:110px 0 30px 0;
	}
}
#press-heading{
	.section-heading{
		margin:90px 0 15px 0;
	}
}
#awards,
#press{
	text-align:center;
	p{
		font-family:$neu-reg;
		font-size:1em;
		color:$font-grey-two;
		margin:15px 0 0 0;
		line-height:1em;
	}
	a{
		text-decoration:none;
		//display:inline-block;
		clear:both;
		
		p{
			color:$teal;
			display:inline-block;
			clear:both;
			//line-height:1.2em;
			//border-bottom:4px solid $yellow;
			@include transition(0.2s);
		}
	}
	a:hover{
		p{
			color:$light-teal;
			//border-bottom:4px solid $font-dark;
		}
	}
}
#press{
	margin:0 0 165px 0;
}
#impact-illus-one{
	background:url('img/Illos/illus-15.png');
	background-size:100%;
	background-repeat:no-repeat;
	background-position-x:200px;
	overflow:hidden;
	width:569px;
	height:469px;
	position:absolute;
	right:0;
	//@include transform(translateX(-50%));
	margin:50px 0 0 0;
	z-index:-1;
	opacity:0.7;
}
#impact-illus-two{
	background:url('img/Illos/illus-09.png');
	background-size:100%;
	background-repeat:no-repeat;
	background-position-x:-50px;
	overflow:hidden;
	width:318px;
	height:233px;
	position:absolute;
	left:0;
	//@include transform(translateX(-50%));
	margin:75px 0 0 0;
	z-index:-1;
}
////////////////////////////////////////////////////
@media only screen and (max-width:1270px){
	.impact-content{
		width:auto;
		margin:0 40px;
	}
}
@media only screen and (max-width:1000px){//tablet-ish
	#section-one .section-heading{
		margin:100px 0 0 0;
	}
	#impact-illus-one{
		width:350px;
		background-position-x:170px;
	}
	#impact-illus-two{
		width:250px;
		margin:5px 0 0 0;
	}
}
@media only screen and (max-width:900px){
	.section-text{
		text-align: center;
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
	    -moz-column-count: 1; /* Firefox */
	    column-count: 1;
	    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	    -moz-column-gap: 20px; /* Firefox */
	    column-gap: 20px;
	}
}
@media only screen and (max-width:600px){//phone-ish
	.impact-content{
		width:100%;
		margin:0;
	}
	.section-heading{
		font-size:1em;
	}
	.section-sub-heading{
		font-size:1.25em;
		margin:30px 20px 40px 20px;
		width:auto;
		line-height:1.45em;
	}
	#section-one .section-heading{
		margin:30px 0 0 0;
	}
	.section-text{
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
    	-moz-column-count: 1; /* Firefox */
    	column-count: 1;
    	width:auto;
    	margin:0 20px 35px 20px;
	}
	#awards-heading .section-heading{
		margin:50px 0 30px 0;
	} 
	#press-heading .section-heading{
		margin:50px 0 10px 0;
	}
	#awards, 
	#press{

		p{
			font-size:1em;
		}
	}
	#awards{
		width:auto;
		margin:0 20px;
	}
	#press{
		width:auto;
		margin:0 20px 60px 20px;
	}
	#impact-illus-one{
		display:none;
	}
	#impact-illus-two{
		display:none;
	}
}