// _about_people.scss

@import 'global';

.people-content{
	width:1000px;
	margin:auto;
}
#team-heading{
	text-align:center;
}
.section-heading{
	font-family:$neu-reg;
	color:$font-grey-one;
	font-size:1.25em;
	margin:130px 0 0 0;
}
#team-members{
	margin:70px 0 0 0;
}
.single-team-member,
.single-supporter{
	width:32%;
 	overflow:hidden;
 	//float:left;
	margin:0 0 22px 2%;
	float:left;
	text-align:center;
	img{
		width:100%;
	}
	.member-img-wrap,
	.supporter-img-wrap{
		height:420px;
	}
}
.row-1,.row-4,.row-7,.row-10,.row-13,.row-16,.row-19,.row-22,.row-25,.row-28{
	margin:0 0 22px 0;
}
.member-img-wrap,
.supporter-img-wrap{
	width:100%;
	height:325px;
	overflow:hidden;
}
.member-name{
	font-family:$neu-reg;
	font-size:1.75em;
	color:$font-grey-two;
	margin:30px 0 0 0;
}
.member-position{
	font-family:$neu-reg;
	font-size:1em;
	color:$font-grey-two;
	font-weight:600;
	margin:5px 0 0 0;
}
.member-desc{
	font-family:$karla-reg;
	font-size:1em;
	color:$font-grey-two;
	line-height:1.4em;
	margin:20px 0 50px 0;
}
#supporters-heading{
	text-align:center;
}
.section-sub-heading{
	font-family:$cae-reg;
	font-size:2em;
	color:$font-grey-two;
	width:75%;
	margin:42px auto 0 auto;
}
#supporters{
	margin:75px 0 0 0;
}
.single-supporter{
	p{
		margin:5px 0 25px 0;
	}
}
#advisors-heading{
	text-align:center;
}
#advisors{
	text-align:center;
	margin:30px auto 100px auto;
	width:50%;

	a{
		text-decoration:none;
		display:block;
		//clear:both;
		
		p{
			//font-size:1em;
			color:$teal;
			//display:inline-block;
			//clear:both;
			//line-height:1.2em;
			//border-bottom:4px solid $yellow;
			@include transition(0.2s);
		}
	}
	a:hover{
		p{
			color:$light-teal;
			//border-bottom:4px solid $font-grey-two;
		}
	}
	p{
		font-family:$neu-reg;
		font-size:1em;
		color:$font-grey-two;
		margin:15px 0 0 0;
		line-height:1em;
	}
	.even{
		float:right;
		clear:right;
	}
	.odd{
		float:left;
		clear:left;
	}
}
#people-illus-one{
	background:url('img/Illos/illus-01.png');
	background-size:100%;
	background-repeat:no-repeat;
	overflow:hidden;
	width:158px;
	height:157px;
	position:absolute;
	left:0;
	//left:50%;
	//@include transform(translateX(-50%));
	//margin:-31px 0 0 0;
	z-index:-1;
}
#people-illus-two{
	background:url('img/Illos/illus-04.png');
	background-size:100%;
	background-repeat:no-repeat;
	overflow:hidden;
	width:457px;
	height:114px;
	position:absolute;
	left:0;
	//left:50%;
	//@include transform(translateX(-50%));
	margin:-31px 0 0 0;
	z-index:-1;
}
#people-illus-three{
	background:url('img/Illos/illus-02.png');
	background-size:100%;
	background-repeat:no-repeat;
	background-position-x:125px;
	overflow:hidden;
	width:301px;
	height:242px;
	position:absolute;
	right:0;
	//@include transform(translateX(-50%));
	//margin:-31px 0 0 0;
	z-index:-1;
}
////////////////////////////////////////////////////
@media only screen and (max-width:1270px){
	.people-content{
		width:auto;
		margin:0 40px;
	}
}
@media only screen and (max-width:1100px){//tablet-ish
	.single-team-member,
	.single-supporter{
		.member-img-wrap,
		.supporter-img-wrap{
			height:400px;
		}
	}
}
@media only screen and (max-width:1000px){//tablet-ish
	.section-heading{
		margin:100px 0 0 0;
	}
	.single-team-member, 
	.single-supporter{
		width:48%;
		margin:0 1% 22px 1%;

		.member-img-wrap, 
		.supporter-img-wrap{
			height:500px;
		}
	}
	#advisors{
		width:100%;
		.even,
		.odd{
			float:none;
			clear:both;
		}
	}
}
@media only screen and (max-width:800px){
	.single-team-member, 
	.single-supporter{

		.member-img-wrap, 
		.supporter-img-wrap{
			height:400px;
		}
	}
}
@media only screen and (max-width:700px){
	#people-illus-two{
		width:305px;
	}
	#people-illus-three{
		width:200px;
		margin:-81px 0 0 0;
		background-position-x:70px;
	}
	.single-team-member, 
	.single-supporter{
		.member-img-wrap, 
		.supporter-img-wrap{
			height:350px;
		}
	}
}
@media only screen and (max-width:600px){//phone-ish
	.people-content{
		width:auto;
		margin:0 20px;
	}
	.section-heading{
		font-size:1em;
		margin:80px 0 0 0;
	}
	#team-heading{
		.section-heading{
			margin:30px 0 0 0;
		}
	}
	#team-members{
		margin:25px 0 0 0;
	}
	.section-sub-heading{
		font-size:1.25em;
		margin:22px auto 0 auto;
	}
	.single-team-member,
	.single-supporter{
		width:100%;
		margin:0;
		.member-img-wrap, 
		.supporter-img-wrap{
			height:300px;
			width:50%;
			margin:auto;
		}
	}
	.single-supporter{
		margin-bottom:15px;
	}
	.member-name{
		font-size:1.25em;
		margin:25px 0 0 0;
	}
	.member-desc{
		width:auto;
		margin:10px 20px 50px 20px;
	}
	#supporters{
		margin:50px 0 20px 0;
	}
	#advisors{
		margin:15px 0 60px 0;
		p{
			font-size:1em;
		}
	}
	#people-illus-one{
		margin:-75px 0 0 0;
		background-position-x:-30px;
		width:120px;
	}
	#people-illus-three{
		display:none;
	}

}
@media only screen and (max-width:500px){//phone-ish
	.single-team-member,
	.single-supporter{
		.member-img-wrap, 
		.supporter-img-wrap{
			height:350px;
			width:70%;
			margin:auto;
		}
	}
}
@media only screen and (max-width:400px){//phone-ish
	.single-team-member,
	.single-supporter{
		.member-img-wrap, 
		.supporter-img-wrap{
			height:350px;
			width:75%;
			margin:auto;
		}
	}
}
@media only screen and (max-width:350px){//phone-ish
	.single-team-member,
	.single-supporter{
		.member-img-wrap, 
		.supporter-img-wrap{
			height:320px;
			width:80%;
			margin:auto;
		}
	}
}
@media only screen and (max-width:300px){//phone-ish
	.single-team-member,
	.single-supporter{
		.member-img-wrap, 
		.supporter-img-wrap{
			height:320px;
			width:100%;
			margin:auto;
		}
	}
}