// _contact.scss

@import 'global';

#contact-wrap{
	display:none;

	background:$teal;
	position:fixed;
	width:100%;
	height:100%;
	z-index:9999;
	overflow-y:scroll;
		padding-right:15px;
}
#contact-inner{
	width:$max-width;
	margin:auto;
	position:relative;
	top:120px;
	//@include transform(translateY(-50%));
}
#contact-heading{
	font-family:$neu-reg;
	color:$white;
	opacity:0.6;
	font-size:1.25em;
	text-align:center;
	margin:0 0 65px 0;
}
#contact-text{
	font-family:$cae-reg;
	font-size:2em;
	color:$white;
	width:55%;
	margin:0 auto 0 auto;
	//text-align:center;
	float:left;
}
#contact-info{
	float:right;
	width:35%;
	font-family:$neu-reg;
	font-size:1.25em;
	color:$white;
	list-style:none;
	p{
		margin:6px 0 0 0;
		line-height:1em;
	}
	a{
		text-decoration:none;
		color:$white;
		display:inline-block;
		border-bottom:2px solid $yellow;
		@include transition(0.2s);
	}
	a:hover{
		border-bottom:2px solid $white;
	}
	#phone{
		margin:30px 0 0 0;
	}
}
#close-button{
	margin:190px 0 0 0;
	cursor:pointer;
	float:left;
	position:relative;
	left:50%;
	bottom:100px;
	@include transform(translateX(-50%));
	clear:both;
	font-family:$neu-reg;
	font-size:1.75em;
	color:$white;
	padding:15px 33px 8px 49px;
	border:4px solid $white;
	@include transition(0.2s);
	p{
		margin:0;
	}
	p:before{
		content:'';
		width:20px;
		border-top:3px solid;
		//height:20px;
		//background:red;
		position:absolute;
		display:inline-block;
		margin:12px 15px 0 0;
		left:23px;
		//font-family:futura;
		@include transform(rotate(-45deg));
	}
	p:after{
		content:'';
		width:20px;
		border-bottom:3px solid;
		//height:20px;
		//background:red;
		position:absolute;
		display:inline-block;
		margin:12px 15px 0 0;
		left:23px;
		@include transform(rotate(45deg));
	}
}
#close-button:hover{
	//background:rgba(255,255,255,.5);
	background:#A5E0D7;
	color:$teal;
	border:4px solid rgba(255,255,255,0);
}
#contact-illus-one{
	background:url('img/Illos/illus-05.png');
	background-size:100%;
	background-repeat:no-repeat;
	background-position-x:-70px;
	overflow:hidden;
	width:310px;
	height:173px;
	position:absolute;
	left:0;
	//@include transform(translateX(-50%));
	//margin:-31px 0 0 0;
	z-index:-1;
}
#contact-illus-two{
	background:url('img/Illos/illus-06.png');
	background-size:100%;
	background-repeat:no-repeat;
	background-position-x:180px;
	overflow:hidden;
	width:498px;
	height:400px;
	position:absolute;
	right:0;
	//@include transform(translateX(-50%));
	//margin:-31px 0 0 0;
	z-index:-1;
	margin:-225px 0 0 0;
}
#contact-illus-three{
	background:url('img/Illos/illus-07.png');
	background-size:100%;
	background-repeat:no-repeat;
	//background-position-x:180px;
	overflow:hidden;
	width:324px;
	height:253px;
	position:absolute;
	right:208px;
	//@include transform(translateX(-50%));
	//margin:-31px 0 0 0;
	z-index:-1;
	margin:-80px 0 0 0;
}
///////////////////////////////////////////////////////////////////
@media only screen and (max-width:1270px){
	#contact-inner{
		width:auto;
		margin:0 40px;
	}
}
@media only screen and (max-width:1000px){
	#contact-heading{
		margin:0 0 40px 0;
	}
	#contact-text{
		width:100%;
		text-align:center;
	}
	#contact-info{
		width:100%;
		text-align:center;
		margin:40px 0 0 0;
	}
	#close-button{
		margin:155px 0 0 0;
	}
}
@media only screen and (max-width:600px){
	#contact-wrap{

	}
	#contact-inner{
		width:auto;
		margin:0 20px;
		top:50px;
		@include transform(translateY(0px));
	}
	#contact-text{
		font-size:1.25em;
	}
	#contact-info{
		p{
			font-size:.875em;
		}
	}
	#close-button{
		
		font-size:1em;
		p:before{
			margin:6px 15px 0 0;
		}
		p:after{
			margin:6px 15px 0 0;
		}
	}
	#contact-illus-one{
		background-position-x:0;
		width:200px;
	}
	#contact-illus-two{
		display:none;
		background-position-x:75px;
		width:300px;
		margin:-180px 0 0 0;
	}
	#contact-illus-three{
		display:none;
		right:155px;
		width:220px;
		margin:-80px 0 0 0;
	}
}