// _footer.scss

@import 'global';
/*
footer{
	width:100%;
	background:$grey;
}
#footer-site-logo{
	float:left;
	background-image:url('img/logo.png');
	background-repeat:no-repeat;
	width:295px;
	height:73px;

	h1{
		display:none;
	}
}*/