// _get_involved.scss

@import 'global';

.involved-content{
	width:$max-width;
	margin:auto;
}
#involved-wrapper{
	margin:130px 0 125px 0;
}
.section-heading{
	font-family:$neu-reg;
	color:$font-grey-one;
	font-size:1.25em;
	text-align:center;
	
}
.section-sub-heading{
	font-family:$cae-reg;
	font-size:2em;
	color:$font-grey-two;
	width:80%;
	margin:30px auto 40px auto;
	text-align:center;
}
.section-link{
	position:relative;
	display:inline-block;
	margin:0 0 130px 0;
	border-bottom:4px solid $yellow;
	color:$font-grey-two;
	//padding:20px 20px 15px 20px;
	font-family:$neu-reg;
	font-size:1.75em;
	left:50%;
	@include transform(translateX(-50%));
	@include transition(0.2s);
}
.section-link:hover{
	//color:$white;
	//background:$teal;
	border-bottom:4px solid $font-dark;
}
#involved-illus-1{
	background:url('img/Illos/illus-10.png');
	background-size:100%;
	background-repeat:no-repeat;
	//background-position-x:200px;
	overflow:hidden;
	width:537px;
	height:278px;
	position:absolute;
	left:0;
	//@include transform(translateX(-50%));
	margin:-205px 0 0 0;
	z-index:-1;
}
#involved-illus-2{
	background:url('img/Illos/illus-11.png');
	background-size:100%;
	background-repeat:no-repeat;
	//background-position-x:200px;
	overflow:hidden;
	width:456px;
	height:287px;
	position:absolute;
	right:0;
	//@include transform(translateX(-50%));
	margin:-220px 0 0 0;
	z-index:-1;
}
////////////////////////////////////////////////////
@media only screen and (max-width:1270px){
	.involved-content{
		width:auto;
		margin:0 40px;
	}
}
@media only screen and (max-width:1000px){//tablet-ish
	#involved-illus-1{
		background-position-x:-40px;
		width:450px;
		margin:-155px 0 0 0;
	}
	#involved-illus-2{

	}
}
@media only screen and (max-width:600px){//phone-ish
	.involved-content{
		width:auto;
		margin:0 20px;
	}
	#involved-wrapper{
		margin:80px 0 0 0;
	}
	.section-heading{
		font-size:1em;
		margin:0;
	}
	.section-sub-heading{
		font-size:1.25em;
		margin:30px auto 60px auto;
	}
	.section-link{
		font-size:1.25em;
	}
	.section2{
		.section-link{
			margin:0 0 70px 0;
		}
	}
	#involved-illus-1{
		width:350px;
		margin:-144px 0 0 0;
		background-position-x:-80px;
	}
	#involved-illus-2{
		width:280px;
		margin:-180px 0 0 0;
		background-position-x:100px;
	}
}