// _teaser_page.scss

@import 'global';

#home-splash{
	height:810px;
	overflow:hidden;
	width:100%;
	position:relative;
	img{
		position:absolute;
	}
}
#home-splash:before{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(81,82,84,0.5);
	width:100%;
	height:100%;
	@include transition(0.3s);
	z-index:1;
}
#home-splash-text-wrap{
	width:$max-width;
	margin:auto;
	height:697px; /* (image height)810 - (nav buffer)113 = 697px */
	position:relative;
	z-index:2;
	h3{
		position:relative;
		font-family:$neu-reg;
		color:$white;
		font-size:5.75em;
		text-align:center;
		width:80%;
		margin:auto;
		top:50%;
		@include transform(translateY(-50%));
	}
}
#home-who{
	width:$max-width;
	margin:auto;
	text-align:center;
	p{
		font-family:$cae-reg;
		font-size:2em;
		color:$font-grey-two;
		width:75%;
		margin:52px auto 0 auto;
	}
}
.section-heading{
	font-family:$neu-reg;
	color:$font-grey-one;
	font-size:1.25em;
	margin:110px 0 0 0;
}
#home-featured{
	text-align:center;
	width:$max-width;
	margin:auto;
}
.item-1{
	width:100%;
	height:670px;
	margin:52px 0 22px 0;
	img{
		width:100%;
	}
}
.item-2,
.item-3{
	width:49%;
	height:330px;
	img{
		width:100%;
	}
}
.item-2{
	float:left;
}
.item-3{
	float:right;
}
.featured-item{
	position:relative;

}
.featured-item:before{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(81,82,84,0.5);
	width:100%;
	height:100%;
	@include transition(0.3s);
	z-index:1;
}
.featured-item-title{
	position:absolute;
	top:50%;
	left:50%;
	@include transform(translateY(-50%));
	@include transform(translateX(-50%));
	font-family:$neu-reg;
	font-size:1.75em;
	color:$white;
	border-bottom:4px solid $yellow;
	margin:0;
	z-index:2;
}
//23.7
#home-blog{
	width:$max-width;
	margin:auto;
	text-align:center;
	.section-heading{
		margin-bottom:52px;
	}
}
.recent-post{
	width:23.6%;
	float:left;
	//background:red;
	border-top:3px solid $font-grey-two;
	border-bottom:3px solid $font-grey-two;
}
.recent-title{
	font-family:$neu-reg;
	font-size:1.25em;	
	color:$font-grey-two;
	margin:60px 0 0 0;
}
.recent-date{
	font-family:$neu-reg;
	font-size:.68em;
	color:$font-grey-two;
	text-transform:uppercase;
	margin:8px 0 55px 0;
}
.recent-post-1,
.recent-post-2,
.recent-post-3{
	margin:0 1.8666% 135px 0;
}