// _nav.scss

@import 'global';

#masthead{
	position:absolute;
	width:100%;
	z-index:999;
	//margin:40px 0 0 0;
	//background-color:rgba(255,255,255,1);
	-webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
 //@include transition(0.5s);

}
footer{
	width:100%;
	background:#868688;
}
#header-inner,
#footer-inner{
	max-width:$max-width;
	width:100%;
	margin:auto;
	//background:red;
}
#footer-inner{
	padding:63px 0 50px 0;
}
#site-logo,
#footer-site-logo{
	float:left;
	//background-image:url('img/logo.png');
	//background-repeat:no-repeat;
	//background-size:100%;
	width:295px;
	height:73px;
	margin:40px 0 0 0;
	position:relative;
	-webkit-transition: margin .3s ease;
    -moz-transition: margin .3s ease;
    -o-transition: margin .3s ease;
    transition: margin .3s ease;

	img{
		width:100%;
	}
	h1{
		display:none;
	}
}
#logo-light{
	//display:none;
	opacity:0;
	position:absolute;
	@include transition(0.2s);
}
#logo-dark{
	//display:block;
	opacity:1;
	@include transition(0.2s);
}
#main-menu-wrap,
#footer-main-menu-wrap{
	float:right;
	@include karla-bold-12(red);
	//font-weight:500;
	text-transform:uppercase;
	margin:56px 0 0 0;
	-webkit-transition: margin .3s ease;
    -moz-transition: margin .3s ease;
    -o-transition: margin .3s ease;
    transition: margin .3s ease;	

	ul{
		list-style:none;
		@include clearfix;
	}
	li{
		float:left;
		//margin:0 0 0 25px;
	}
	a{
		text-decoration:none;
		color:$font-grey-two;
	}
	.main-menu-contact{
		cursor:pointer;
	}
	.main-menu-contact,
	.main-menu-blog,
	.main-menu-involved,
	.main-menu-work{
		margin:0 20px 0 0;
		a{
			@include transition(0.2s);
			//border-bottom:2px solid rgba(212,234,0,0);
		}
	}
	.main-menu-contact:hover,
	.main-menu-blog:hover,
	.main-menu-involved:hover,
	.main-menu-work:hover{
		a{
			//border-bottom:2px solid rgba(212,234,0,1);
			color:$teal;
		}
	}
	.main-menu-about{
		margin:0 20px 0 0;
		position:relative;
		a{
			@include transition(0.3s);
			//border-bottom:2px solid rgba(212,234,0,0);
			//color:$teal;
		}
		ul{
			@include transition(0.3s);
			max-height:0;
			opacity:0;
			position:relative;
			padding:0;
			//width:200px;
			overflow:hidden;
			margin:0 -100px 0 0;
			li{
				clear:both;
				text-transform:Capitalize;
				margin:0 0 5px 0;
			}
			li:hover{
				a{
					color:#1AB19A;
				}
			}
		}
	}
	.main-menu-about:hover{
		a{
			//border-bottom:2px solid rgba(212,234,0,1);
			color:$teal;
		}
		ul{
			max-height:1000px;
			opacity:1;
			padding:9px 0 0 0;
			//width:200px;
			a{
				//border-bottom:2px solid rgba(212,234,0,0);
				color:$font-grey-two;
			}
		}
	}
	.main-menu-donate{
		a{
			padding:15px 17px;
			border:2px solid $teal;
			background:rgba(26,177,154,0);
			//@include border-radius(4px);
			@include transition(0.2s);
			color:$teal;
		}
	}
	.main-menu-donate:hover{
		a{
			color:$white;
			background:rgba(26,177,154,1);
		}
	}

}
/* Footer Nav Changes */
	#footer-main-menu-wrap{
		a{
			color:$white;
		}
		.main-menu-about:hover{
			ul{
				a{
					//border-bottom:2px solid rgba(212,234,0,0);
					color:$white;
				}
			}
		}
		.main-menu-donate{
			a{
				padding:15px 17px;
				border:2px solid $white;
				background:rgba(26,177,154,0);
				//@include border-radius(4px);
				@include transition(0.2s);
				color:$white;
			}
		}
		.main-menu-donate:hover{
			a{
				color:$white;
				border:2px solid $teal;
				background:rgba(26,177,154,1);
			}
		}
	}
/*
#footer-social-wrap{
	float:left;
	clear:both;
	width:100%;
	@include karla-bold-12($white);
	margin:40px 0 0 0;
	ul{
		float:right;
		list-style:none;
	}
	li{
		float:left;
		margin:0 0 0 10px;
		padding:0 0 2px 0;
		border-bottom:2px solid $yellow;
		@include transition(0.2s);
	}
	li:hover{
		border-bottom:2px solid $font-dark;
	}
	a{
		text-decoration:none;
		color:$white;
	}
}
*/
#contact-details{
	float:right;
	clear:both;
	margin:15px 41px 0 0;
	//text-align:center;
	p{
		@include karla-bold-12($white);
		margin:4px 0 0 0;
		//float:right;
		clear:both;
		a{
			color:$white;
		}
	}
	a{
		font-size:1em;
		text-decoration:none;
		//float:left;
		display:inline-block;
		margin:2px 0 0 0;
		p{
			border-bottom:2px solid $yellow;
			@include transition(0.2s);
			margin:0;
		}
	}
	a:hover{
		p{
			border-bottom:2px solid $font-dark;
		}
	}
}


.page-template-page-templateshome-php,
.page-template-page-templatesabout_us_approach-php,
.page-template-page-templatesabout_us_people-php,
.page-template-page-templatesabout_us_impact-php,
.page-template-page-templatesget_involved-php{

}
.page-template-page-templateshome-php,
.page-template-page-templatesour_work-php{//light color nav
	#masthead{
		position:absolute;
		background-color:rgba(255,255,255,0);
	}
	#logo-light{
		//display:block;
		opacity:1;
	}
	#logo-dark{
		//display:none;
		opacity:0;
	}
	#main-menu-wrap{
		a{
			color:$white;
		}
		.main-menu-about{
			ul{
				li:hover{
					a{
						color:#1AB19A;
					}
				}
			}
		}
		.main-menu-about:hover{
			ul{
				a{
					//border-bottom:2px solid rgba(212,234,0,0);
					color:$white;
				}
			}
		}
		.main-menu-donate{
			a{
				color:$teal;
			}
		}
		.main-menu-donate:hover{
			a{
				color:$white;
			}
		}
		.main-menu-blog:hover{
			a{	
				color:$red;
			}
		}
	}
	#mobile-toggle:before{
		color:$white;
	}	
}
//highlights
#main-menu-wrap{
	.current-menu-item{
		a{
			color:$teal;
		}
		ul{
			.current-menu-item{
				a{
					color:$teal;
				}
			}
		}
	}
	.current-menu-parent{
		a{
			color:$teal;
		}
		ul{
			.current-menu-item{
				a{
					color:$teal;
				}
			}
		}
	}
	.main-menu-blog.current-menu-item{
		a{
			color:$red;
		}
	}
}
.blog,
.archive{
	#main-menu-wrap{
		.main-menu-blog{
			a{
				color:$red;
			}
		}
		.main-menu-donate{
			a{
				padding:15px 17px;
				border:2px solid $red;
				background:rgba(255,95,63,0);
				//@include border-radius(4px);
				@include transition(0.2s);
				color:$red;
			}
		}
		.main-menu-donate:hover{
			a{
				color:$white;
				background:rgba(255,95,63,1);
			}
		}
	}
	
}
////scroll lock on home and our-work
#masthead.bg-color{
	
	background-color:rgba(255,255,255,1);
	#site-logo{
		margin:10px 0 10px 0;
	}
	#logo-light{
		//display:none;
		opacity:0;
	}
	#logo-dark{
		//display:block;
		opacity:1;
	}

	a{
		//text-decoration:none;
		color:$font-grey-two;
	}
	#main-menu-wrap{
		margin:27px 0 0 0;
		.main-menu-about{
			ul{
				li:hover{
					a{
						color:#1AB19A;
					}
				}
			}
		}
		.main-menu-about:hover{
			ul{
				a{
					//border-bottom:2px solid rgba(212,234,0,0);
					color:$font-grey-two;
				}
			}
		}
		.current-menu-item{
			a{
				color:$teal;
			}
		}
	}
	#mobile-toggle{
		margin:30px 0 0 0;
	}
}
#mobile-toggle{
	display:none;
	cursor:pointer;
	//@include transition(0.3s);
}
#mobile-toggle:before{
	font-family:'fontello';
	content: '\e814';
	display:inline-block;
	font-size:2em;
	font-weight:100;
	color:$font-grey-two;
}
//////////////////////////////////////////////
@media only screen and (max-width:1270px){
	#header-inner,
	#footer-inner{
		width:auto;
		margin:0 40px;
	}
}
@media only screen and (max-width:900px){//switch to mobile nav here!
	#header-inner,
	#footer-inner{
		
	}
	#main-menu-wrap{
		display:none;
		clear:both;
		background:$teal;
		float:none;
		margin:0;
		position:fixed;
		width:100%;
		height:100%;
		left:0;
		right:0;
		top:0;
		#menu-main-menu{
			margin:0;
		}
		.menu-main-menu-container{
			display:inline-block;
			position:relative;
			left:50%;
			top:50%;
			@include transform(translate(-50%,-50%));
		}
		ul{
			padding:0;
			li{
				float:none;
				clear:both;
				//margin:0 0 15px 0;
				text-align:center;
			}
		}
		.main-menu-work,
		.main-menu-about,
		.main-menu-involved,
		.main-menu-blog,
		.main-menu-contact{
			margin:0 0 25px 0;
			a{
				color:$white;
			}

		}
		.main-menu-contact:hover,
		.main-menu-blog:hover,
		.main-menu-involved:hover,
		.main-menu-work:hover{
			a{
				//border-bottom:2px solid rgba(212,234,0,1);
				color:$light-teal;
			}
		}
		.main-menu-about{
			ul{
				max-height:0;
				opacity:1;
				margin:0;
				padding:0 0 0 0;
				li:hover{
					a{
						color:$light-teal;
					}
				}
			}
		}
		.main-menu-about:hover{
			a{
				//border-bottom:2px solid rgba(212,234,0,1);
				color:$light-teal;
			}
			ul{
				max-height:0;
				opacity:1;
				padding:0 0 0 0;
				//width:200px;
				a{
					//border-bottom:2px solid rgba(212,234,0,0);
					color:$white;
				}
			}
		}
		.main-menu-donate{
			margin-top:42px;
			a{
				border:2px solid $white;
				background:rgba(255,255,255,0);
				color:$white;
			}
		}
		.current-menu-item{
			a{
				color:$light-teal;
			}
		}
		.current-menu-parent{
			a{
				color:$light-teal;
			}
			ul {
				a{
					color:$white;
				}
				.current-menu-item {
					a{
						color:$light-teal;
					}
				}
			}
		}
	}
	.blog,
	.archive{
		#main-menu-wrap{
			.main-menu-blog{
				a{
					color:$light-teal;
				}
			}
			.main-menu-donate{
				margin-top:42px;
				a{
					border:2px solid $white;
					background:rgba(255,255,255,0);
					color:$white;
				}
			}
			.main-menu-donate:hover{
				a{
					background:rgba(255,255,255,1);
					color:$teal;
				}
			}
		}
	}
	.page-template-page-templatesabout_us_approach-php,
	.page-template-page-templatesabout_us_people-php,
	.page-template-page-templatesabout_us_impact-php{
		#main-menu-wrap{
			.main-menu-about{
				ul{
					max-height:1000px;
					padding:9px 0 0 0;

				}
			}
			.main-menu-about:hover{
				ul{
					max-height:1000px;
					padding:9px 0 0 0;
				}
			}
		}
	}
	.page-template-page-templateshome-php,
	.page-template-page-templatesour_work-php{//light color nav
		#main-menu-wrap{
			.main-menu-donate{
				a{
					color:$white;
				}
			}
			.main-menu-donate:hover{
				a{
					color:$teal;
					background:rgba(255,255,255,1);
				}
			}
			.main-menu-blog:hover{
				a{
					color:$light-teal;
				}
			}
		}
	}
	.blog-page{
		#main-menu-wrap{
			.main-menu-blog{
				a{
					color:$light-teal;
				}
			}
		}
	}
	.project-page{
		#main-menu-wrap{
			.main-menu-work{
				a{
					color:$light-teal;
				}
			}
		}
	}
	#mobile-toggle{
		display:block;
		float:right;
		margin:56px 0 0 0;
	}
	#mobile-toggle.open{
		position:fixed;
		z-index:2;
		right:20px;
		top:20px;
		margin:5px 0 0 0;

	}
	#mobile-toggle.open:before{
		font-family:'fontello';
			content: '\e800';
			display:inline-block;
			font-size:2em;
			font-weight:100;
			color:$white;
			margin:0 3px 0 0;
	}
	#footer-site-logo{
		float:none;
		margin:40px auto 0 auto;
	}
	#footer-main-menu-wrap{
		float:none;
		margin:56px auto 0 auto;
		ul{
			padding:0;
			display:inline-block;
			position:relative;
			left:50%;
			@include transform(translateX(-50%));
		}
	}
}
@media only screen and (max-width:600px){
	#header-inner,
	#footer-inner{
		margin:0 20px;
	}
	#footer-main-menu-wrap{
		display:none;
	}
	#site-logo, 
	#footer-site-logo{
		width:186px;
		height:46px;
		margin:20px 0 0 0;
	}
	#mobile-toggle{
		margin:25px 0 0 0;
	}
	#mobile-toggle:before{
		line-height:1em;
	}
}
@media only screen and (max-width:350px){
	
}
@media only screen and (max-width:300px){
	
}