// _our_work.scss

@import 'global';

#featured-project{
	height:660px;
	overflow:hidden;
	width:100%;
	position:relative;

	img{
		position:absolute;
		width:100%;
	}
}
#featured-project .backstretch:before{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(81,82,84,0.5);
	width:100%;
	height:100%;
	@include transition(0.3s);
	z-index:1;
}
#featured-project:before{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(26,177,154,0.8);
	width:100%;
	height:100%;
	@include transition(0.3s);
	z-index:1;
	opacity:0;
}
#featured-project.hover:before{
	opacity:1;
}
#featured-text-wrap{
	width:$max-width;
	margin:auto;
	height:547px; /* (image height)810 - (nav buffer)113 = 697px */
	text-align:center;
	position:relative;
	z-index:2;
	p{
		font-family:$neu-bold;
		color:$white;
		font-size:1em;
		margin:0 0 10px 0;
	}
	h3{
		position:absolute;
		font-family:$neu-reg;
		color:$white;
		font-size:3.5em;
		line-height:1em;
		text-align:center;
		//max-width:80%;
		margin:auto;
		border-bottom:4px solid $yellow;
		display:block;
		font-weight:100;
		opacity:1;
		@include transition(0.3s);
		//top:50%;
		left:50%;
		@include transform(translateX(-50%));
	}
	a{
		text-decoration:none;
		display:inline-block;
		//position:relative;
	}
	a:hover{
		#view-project{
			opacity:1;
		}
		h3{
			opacity:0;
		}
		p{
			opacity:0;
		}
	}
	#view-project{
		//position:absolute;
		font-family:$neu-reg;
		font-size:3.5em;
		line-height:.75em;
		color:$white;
		//top:50%;
		//left:50%;
		//@include transform(translate(-50%,-50%));
		margin:auto;
		border:4px solid $white;
		padding:27px 20px 7px 20px;
		//display:inline;
		font-weight:100;
		margin-top:-24px;
		opacity:0;
		@include transition(0.3s);
	}
	#text-wrap-inner{
		position:relative;
		top:50%;
		@include transform(translateY(-50%));
	}
	.featured-text{
		font-family:$neu-bold;
		font-size:1.25em;
		//font-weight:600;
		line-height:115px;
		color:$white;
		width:110px;
		height:110px;
		border:4px solid $white;
		@include border-radius(200px);
		margin:0 auto 63px auto;
	}
}
#other-projects{
	width:$max-width;
	margin:25px auto 130px auto;
}
.sub-project{
	width:49%;
	float:left;
	margin:0 0 25px 0;
	position:relative;
	height:330px;
	overflow:hidden;
	img{
		width:100%;
	}
}
.sub-project:hover{
	.hover-overlay{
		opacity:1;
	}
	.sub-project-text-wrap{
		opacity:0;
	}
}
.sub-project:before{
	content:'';
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(81,82,84,0.5);
	width:100%;
	height:100%;
	@include transition(0.3s);
	z-index:1;
}
.sub-project-text-wrap{
	position:absolute;
	top:50%;
	left:50%;
	@include transform(translate(-50%,-50%));
	@include transition(0.3s);
	text-align:center;
	//@include transform(translateX(-50%));
	z-index:2;
	p{
		font-family:$neu-bold;
		color:$white;
		font-size:.75em;
		margin:0 0 7px 0;
	}
	h3{
		margin:0;
		font-size:1.75em;
		font-family:$neu-reg;
		font-weight:100;
		color:$white;
		border-bottom:2px solid $yellow;
		//font-weight:600;
		//padding:8px 0 0 0;
	}
	.visit-text{
		display:none;
	}
}
.odd-project{
	margin:0 2% 0 0;
}
.hover-overlay{
	position:absolute;
	width:100%;
	height:100%;
	background:rgba(26,177,154,0.8);
	z-index:3;
	opacity:0;
	@include transition(0.3s);
	p{
		font-family:$neu-reg;
		font-size:1.75em;
		color:$white;
		position:relative;
		top:50%;
		left:50%;
		@include transform(translate(-50%,-50%));
		margin:auto;
		border:2px solid $white;
		padding:6px 17px 0px 17px;
		display:inline-block;
		font-weight:100;
	}
}
////////////////////////////////////////////////////
@media only screen and (max-width:1270px){
	#featured-text-wrap{
		width:auto;
		margin:0 40px;
	}
	#other-projects{
		width:auto;
		margin:25px 40px 130px 40px;
	}
}
@media only screen and (max-width:1000px){//tablet-ish
	#featured-project{
		height:650px;
	}
	#featured-text-wrap{
		height:537px;
	}
	.sub-project{
		height:270px;
	}
}
@media only screen and (max-width:600px){//phone-ish
	#featured-project{
		height:570px;
	}
	#featured-text-wrap{
		height:447px;
		width:auto;
		margin:0 40px;
		h3{
			font-size:1.75em;
		}
		.featured-text{
			font-size:.75em;
			width:80px;
			height:80px;
			line-height:85px;
			margin:0 auto 43px auto;
		}
	}
	#other-projects{
		width:100%;
		margin:25px 0 30px 0;
	}
	.hover-overlay{
		p{
			font-size:1.25em;
		}
	}
	.sub-project{
		height:360px;
		width:100%;
		clear:both;
		margin:0 0 25px 0;
	}
	.sub-project-text-wrap{
		h3{
			font-size:1.25em;
		}
	}
}