// _post.scss

@import 'global';

.post{
	width:$max-width;
	margin:auto;
	text-align:center;
}
.post-title{
	font-family:$neu-reg;
	font-size:1.75em;
	color:$font-grey-two;
	text-decoration:none;
	margin:60px 0 0 0;
}
.post-date{
	font-family:$neu-reg;
	font-size:.5625em;
	color:$font-grey-one;
	text-transform:uppercase;
	margin:10px 0 30px 0;
}
.comments-link{
	display:none;
}
.post-content{
	font-family:$karla-reg;
	font-size:1em;
	color:$font-grey-two;
	margin:0 0 120px 0;
	p{
		width:80%;
		margin:auto;

	}
	img{
		margin:40px auto 20px auto;
		display:block;
		max-width:100%;
		width:auto !important;
		height:auto !important;
	}
	div{
		margin:auto;
	}
	.wp-caption-text{
		margin:0 auto 30px auto;
		color:$font-grey-one;
		font-size:.75em;
	}
}
////////////////////////////////////////////////////
@media only screen and (max-width:1270px){
	.post{
		width:auto;
		margin:0 40px;
	}
}
@media only screen and (max-width:1000px){//tablet-ish
	.post-content{
		p{
			width:100%;
		}
	}
}
@media only screen and (max-width:600px){//phone-ish
	.post{
		width:auto;
		margin:0 20px;
	}
}