
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e813'; } /* '' */
.icon-menu-1:before { content: '\e814'; } /* '' */
.icon-menu-2:before { content: '\e815'; } /* '' */